.flows_raspberrypi.json.backup
[{"id":"4465dcd8.ef29d4","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"2f4ec664.f9269a","type":"tab","label":"Sensor","disabled":false,"info":""},{"id":"19e5a93a.f6b177","type":"tab","label":"Actor","disabled":false,"info":""},{"id":"dec1e0da.70948","type":"tab","label":"Automat","disabled":false,"info":""},{"id":"479f4e7.777cbb","type":"tab","label":"Storage","disabled":false,"info":""},{"id":"8525b090.acd3e","type":"tab","label":"Phillips HUE Controls","disabled":false,"info":""},{"id":"4021b66e.af3768","type":"tab","label":"Coordinator","disabled":true,"info":""},{"id":"2c77cea2.6a35a2","type":"mqtt-broker","name":"MQTT Broker (Mosquitto)","broker":"http://192.168.178.68/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"feef2da7.1b064","type":"zigbee2mqtt-bridge-config","name":"Bridge (zigbee2mqtt)","broker":"2c77cea2.6a35a2","baseTopic":"zigbee2mqtt","enabledLogging":false,"allowDeviceStatusRefresh":true},{"id":"9ab772ac.d1d46","type":"zigbee2mqtt-server","name":"zigbee2mqtt Server","host":"192.168.178.68","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","tls":"","usetls":false,"base_topic":"zigbee2mqtt"},{"id":"b95cb1fd.fc046","type":"ui_tab","name":"Smart Home - Klimaüberwachung","icon":"live_circle","disabled":false,"hidden":false},{"id":"d56c2d16.c4044","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6d6d9cb7.8580b4","type":"ui_group","name":"Tagesverlauf","tab":"b95cb1fd.fc046","order":19,"disp":true,"width":"12","collapse":true},{"id":"de728260.58e1c","type":"ui_group","name":"Letzte Stunde","tab":"b95cb1fd.fc046","order":18,"disp":true,"width":"12","collapse":true},{"id":"765ef432.ef208c","type":"ui_group","name":"Einstellung","tab":"b95cb1fd.fc046","order":6,"disp":true,"width":"12","collapse":true},{"id":"690a56f2.668638","type":"ui_group","name":"Live","tab":"b95cb1fd.fc046","order":4,"disp":true,"width":"12","collapse":true},{"id":"a8ac9ab3.650128","type":"ui_spacer","name":"spacer","group":"690a56f2.668638","order":4,"width":1,"height":1},{"id":"bb16d67f.819568","type":"ui_spacer","name":"spacer","group":"690a56f2.668638","order":4,"width":1,"height":1},{"id":"b7530cb2.b957f","type":"ui_group","name":"Temperatur-Controls","tab":"b95cb1fd.fc046","order":17,"disp":true,"width":"6","collapse":false},{"id":"90cf410f.e28b6","type":"ui_group","name":"Pollenflug","tab":"b95cb1fd.fc046","order":7,"disp":true,"width":"12","collapse":false},{"id":"8c46ea3e.c28938","type":"ui_group","name":"Fenster","tab":"b95cb1fd.fc046","order":5,"disp":true,"width":"12","collapse":false},{"id":"ed42f81f.b66678","type":"ui_group","name":"Birke","tab":"b95cb1fd.fc046","order":8,"disp":false,"width":"6","collapse":false},{"id":"f867e959.9c17f8","type":"ui_group","name":"Ambrosia","tab":"b95cb1fd.fc046","order":9,"disp":false,"width":"6","collapse":false},{"id":"716bf37b.62d27c","type":"ui_group","name":"Beifuß","tab":"b95cb1fd.fc046","order":10,"disp":false,"width":"6","collapse":false},{"id":"18e67ebe.fe5ef1","type":"ui_group","name":"Gräser","tab":"b95cb1fd.fc046","order":11,"disp":false,"width":"6","collapse":false},{"id":"8c94783a.209d08","type":"ui_group","name":"Haselnuss","tab":"b95cb1fd.fc046","order":12,"disp":false,"width":"6","collapse":false},{"id":"989a6a8d.8900c8","type":"ui_group","name":"Erle","tab":"b95cb1fd.fc046","order":13,"disp":false,"width":"6","collapse":false},{"id":"4950803.75cd08","type":"ui_group","name":"Roggen","tab":"b95cb1fd.fc046","order":14,"disp":false,"width":"6","collapse":false},{"id":"1d1a171a.4a47e9","type":"ui_group","name":"Esche","tab":"b95cb1fd.fc046","order":15,"disp":false,"width":"6","collapse":false},{"id":"c13cffd1.aba74","type":"ui_group","name":"LetzteMessung","tab":"b95cb1fd.fc046","order":16,"disp":false,"width":"12","collapse":false},{"id":"3b747350.3e5f6c","type":"ui_group","name":"PollenWarnung","tab":"b95cb1fd.fc046","order":2,"disp":false,"width":"12","collapse":false},{"id":"c647cb4b.f41a18","type":"ui_group","name":"RegenWarnung","tab":"b95cb1fd.fc046","order":3,"disp":false,"width":"12","collapse":false},{"id":"e80031a3.9b1d3","type":"persist-store","d":true,"filename":"persistence.json","interval":"60"},{"id":"a7b507d4.0368d8","type":"persist-store","filename":"/home/pi/smart_home/temperatur.json","interval":"60"},{"id":"7b30ed62.ff6904","type":"ui_group","name":"Status","tab":"b95cb1fd.fc046","order":1,"disp":true,"width":"12","collapse":false},{"id":"3c973079.4c7b7","type":"zigbee2mqtt-bridge","z":"4021b66e.af3768","name":"","server":"9ab772ac.d1d46","topic":null,"x":170,"y":40,"wires":[["f2335bf0.388a48"]]},{"id":"f2335bf0.388a48","type":"debug","z":"4021b66e.af3768","name":"Log","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":40,"wires":[]},{"id":"dca48b8b.b4dfc8","type":"zigbee2mqtt-in","z":"4021b66e.af3768","name":"","server":"9ab772ac.d1d46","friendly_name":"xiaomi_sensor","device_id":"0x00158d00044f567f","state":"0","outputAtStartup":true,"x":150,"y":200,"wires":[["5ac9b3e2.7dc36c"]]},{"id":"5ac9b3e2.7dc36c","type":"debug","z":"4021b66e.af3768","name":"Sensor-Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":200,"wires":[]},{"id":"9e2e5933.36ae68","type":"zigbee2mqtt-in","z":"4021b66e.af3768","name":"","server":"9ab772ac.d1d46","friendly_name":"xiaomi_switch","device_id":"0x00158d00027a3a95","state":"click","outputAtStartup":true,"x":150,"y":120,"wires":[["5ac9b3e2.7dc36c","77d2bf14.d83fa"]]},{"id":"67ca3bf6.b417e4","type":"zigbee2mqtt-in","z":"4021b66e.af3768","name":"","server":"9ab772ac.d1d46","friendly_name":"philips_hue","device_id":"0x00178801043cafe3","state":"0","outputAtStartup":true,"x":150,"y":160,"wires":[["5ac9b3e2.7dc36c"]]},{"id":"ac8f94f2.aaf3e8","type":"zigbee2mqtt-out","z":"4021b66e.af3768","name":"Toggle light","server":"9ab772ac.d1d46","friendly_name":"philips_hue","device_id":"0x00178801043cafe3","command":"state","commandType":"z2m_cmd","payload":"toggle","payloadType":"z2m_payload","transition":0,"x":510,"y":120,"wires":[]},{"id":"77d2bf14.d83fa","type":"switch","z":"4021b66e.af3768","name":"Filter","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":120,"wires":[["ac8f94f2.aaf3e8"]]},{"id":"a1ce8770.467da8","type":"inject","z":"8525b090.acd3e","name":"TOGGLE","props":[{"p":"topic","vt":"str"},{"p":"payload.state","v":"TOGGLE","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/philips_hue/set","payloadType":"str","x":140,"y":60,"wires":[["7b7b758a.3a0e2c"]]},{"id":"7b7b758a.3a0e2c","type":"zigbee2mqtt-out","z":"8525b090.acd3e","name":"switch","server":"9ab772ac.d1d46","friendly_name":"philips_hue","device_id":"0x00178801043cafe3","command":"state","commandType":"z2m_cmd","payload":"toggle","payloadType":"z2m_payload","transition":0,"x":470,"y":60,"wires":[]},{"id":"7e9c7b48.d52d54","type":"inject","z":"8525b090.acd3e","name":"Set","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/philips_hue/set","payload":"50","payloadType":"str","x":130,"y":120,"wires":[["2c3e80f.470458"]]},{"id":"2c3e80f.470458","type":"zigbee2mqtt-out","z":"8525b090.acd3e","name":"cold light","server":"9ab772ac.d1d46","friendly_name":"philips_hue","device_id":"0x00178801043cafe3","command":"color_temp","commandType":"z2m_cmd","payload":"50","payloadType":"z2m_payload","transition":0,"x":460,"y":120,"wires":[]},{"id":"3440aff.340b15","type":"inject","z":"8525b090.acd3e","name":"Set","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/philips_hue/set","payload":"400","payloadType":"str","x":130,"y":160,"wires":[["67aac10.f421c4"]]},{"id":"67aac10.f421c4","type":"zigbee2mqtt-out","z":"8525b090.acd3e","name":"warm light","server":"9ab772ac.d1d46","friendly_name":"philips_hue","device_id":"0x00178801043cafe3","command":"color_temp","commandType":"z2m_cmd","payload":"400","payloadType":"z2m_payload","transition":0,"x":450,"y":160,"wires":[]},{"id":"7151f065.f4451","type":"inject","z":"8525b090.acd3e","name":"Set","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":220,"wires":[["3b37f06e.e0abc"]]},{"id":"3b37f06e.e0abc","type":"zigbee2mqtt-out","z":"8525b090.acd3e","name":"red","server":"9ab772ac.d1d46","friendly_name":"philips_hue","device_id":"0x00178801043cafe3","command":"color","commandType":"z2m_cmd","payload":"{\"r\":255, \"g\":0, \"b\":0}","payloadType":"json","transition":0,"x":470,"y":220,"wires":[]},{"id":"2dfe6cd0.029584","type":"inject","z":"8525b090.acd3e","name":"Set","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":260,"wires":[["ffd651d2.3fb5e"]]},{"id":"ffd651d2.3fb5e","type":"zigbee2mqtt-out","z":"8525b090.acd3e","name":"green","server":"9ab772ac.d1d46","friendly_name":"philips_hue","device_id":"0x00178801043cafe3","command":"color","commandType":"z2m_cmd","payload":"{\"r\":0, \"g\":255, \"b\":0}","payloadType":"json","transition":0,"x":470,"y":260,"wires":[]},{"id":"fce95c5d.85277","type":"inject","z":"8525b090.acd3e","name":"Set","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":300,"wires":[["aa56214.2a370e"]]},{"id":"aa56214.2a370e","type":"zigbee2mqtt-out","z":"8525b090.acd3e","name":"blue","server":"9ab772ac.d1d46","friendly_name":"philips_hue","device_id":"0x00178801043cafe3","command":"color","commandType":"z2m_cmd","payload":"{\"r\":0, \"g\":0, \"b\":255}","payloadType":"json","transition":0,"x":470,"y":300,"wires":[]},{"id":"6b38cd7d.004104","type":"inject","z":"8525b090.acd3e","name":"Set OFF","props":[{"p":"topic","vt":"str"},{"p":"state","v":"OFF","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"led","x":140,"y":400,"wires":[["caf50b90.0386a8"]]},{"id":"caf50b90.0386a8","type":"zigbee2mqtt-out","z":"8525b090.acd3e","name":"led state","server":"9ab772ac.d1d46","friendly_name":"philips_hue","device_id":"0x00178801043cafe3","command":"state","commandType":"z2m_cmd","payload":"state","payloadType":"msg","transition":0,"x":380,"y":380,"wires":[]},{"id":"689fbf93.3bb3a","type":"zigbee2mqtt-out","z":"8525b090.acd3e","name":"LED Color","server":"9ab772ac.d1d46","friendly_name":"philips_hue","device_id":"0x00178801043cafe3","command":"color","commandType":"z2m_cmd","payload":"color","payloadType":"msg","transition":0,"x":390,"y":520,"wires":[]},{"id":"b1850a28.2e5918","type":"inject","z":"8525b090.acd3e","name":"Set ON","props":[{"p":"topic","vt":"str"},{"p":"state","v":"ON","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"led","payloadType":"str","x":130,"y":360,"wires":[["caf50b90.0386a8"]]},{"id":"2fdf7bee.5b6674","type":"inject","z":"8525b090.acd3e","name":"Set HUE","props":[{"p":"topic","vt":"str"},{"p":"color.hue","v":"0","vt":"num"},{"p":"color.saturation","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"led","x":140,"y":480,"wires":[["689fbf93.3bb3a"]]},{"id":"37542752.e4df48","type":"inject","z":"8525b090.acd3e","name":"Set HUE","props":[{"p":"topic","vt":"str"},{"p":"color.hue","v":"120","vt":"num"},{"p":"color.saturation","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"led","x":140,"y":540,"wires":[["689fbf93.3bb3a"]]},{"id":"48b192a1.2cd30c","type":"inject","z":"8525b090.acd3e","name":"Set HUE","props":[{"p":"topic","vt":"str"},{"p":"color.hue","v":"240","vt":"num"},{"p":"color.saturation","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"led","x":140,"y":600,"wires":[["689fbf93.3bb3a"]]},{"id":"fb82f13b.1f3e7","type":"link in","z":"4465dcd8.ef29d4","name":"Innenraum (rein)","links":["44d8c52e.2c7a3c","e39f35c7.f5d698"],"x":75,"y":360,"wires":[["4b064c5a.b78db4"]]},{"id":"92198830.529878","type":"link in","z":"4465dcd8.ef29d4","name":"Außen (rein)","links":["d6730249.14cca","6f8d0ac.0fc83f4"],"x":75,"y":200,"wires":[["54e7ae9d.afdaa"]]},{"id":"fa366900.5f0358","type":"ui_chart","z":"4465dcd8.ef29d4","name":"temp graph (d)","group":"6d6d9cb7.8580b4","order":1,"width":"0","height":"0","label":"<i class=\"fa fa-thermometer-half\" aria-hidden=\"true\"></i> Temperatur (°C)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#d62728","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":840,"y":180,"wires":[["8f7570e3.8f991"]]},{"id":"6c44b517.0c0f9c","type":"ui_chart","z":"4465dcd8.ef29d4","name":"humidity graph (d)","group":"6d6d9cb7.8580b4","order":2,"width":"0","height":"0","label":"<i class=\"fa fa-tint\" aria-hidden=\"true\"></i> Luftfeuchtigkeit (%)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#d62728","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":260,"wires":[["112e6b37.b61e45"]]},{"id":"ced3422e.80701","type":"ui_chart","z":"4465dcd8.ef29d4","name":"temp graph (h)","group":"de728260.58e1c","order":1,"width":"0","height":"0","label":"<i class=\"fa fa-thermometer-half\" aria-hidden=\"true\"></i> Temperatur (°C)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#d62728","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":840,"y":140,"wires":[["a1728c5e.a2048"]]},{"id":"f6e96e65.00b48","type":"ui_chart","z":"4465dcd8.ef29d4","name":"humidity graph (h)","group":"de728260.58e1c","order":2,"width":"0","height":"0","label":"<i class=\"fa fa-tint\" aria-hidden=\"true\"></i> Luftfeuchtigkeit (%)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#d62728","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":220,"wires":[["5b60da6.bfe4124"]]},{"id":"34fcd177.b6a9ae","type":"ui_gauge","z":"4465dcd8.ef29d4","name":"temp gauge (live)","group":"690a56f2.668638","order":3,"width":"4","height":"3","gtype":"gage","title":"<i class=\"fa fa-thermometer-half\" aria-hidden=\"true\"></i> Temperatur","label":"°C","format":"{{value}}","min":"-20","max":"50","colors":["#60a9e1","#00b500","#ec2727"],"seg1":"20","seg2":"26","x":850,"y":40,"wires":[]},{"id":"f1900f78.28167","type":"ui_gauge","z":"4465dcd8.ef29d4","name":"humidity gauge (live)","group":"690a56f2.668638","order":3,"width":"4","height":"3","gtype":"gage","title":"<i class=\"fa fa-tint\" aria-hidden=\"true\"></i> Luftfeuchtigkeit","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#ec2727","#00b500","#60a9e1"],"seg1":"40","seg2":"65","x":860,"y":80,"wires":[]},{"id":"dd02b4f9.9c5608","type":"change","z":"4465dcd8.ef29d4","name":"filter temperatur","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":180,"wires":[["ced3422e.80701","c4960054.75afe","fa366900.5f0358"]]},{"id":"9285bb9f.754178","type":"change","z":"4465dcd8.ef29d4","name":"filter humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":220,"wires":[["f6e96e65.00b48","d292e114.84396","6c44b517.0c0f9c"]]},{"id":"e165fac.7803108","type":"mqtt out","z":"19e5a93a.f6b177","name":"","topic":"","qos":"","retain":"","broker":"2c77cea2.6a35a2","x":850,"y":140,"wires":[]},{"id":"6674fb73.427b64","type":"inject","z":"19e5a93a.f6b177","name":"GET State","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"zigbee2mqtt/curtain_switch/get","payload":"{\"position\": \"\"}","payloadType":"json","x":590,"y":160,"wires":[["e165fac.7803108"]]},{"id":"8042acc0.3f43b","type":"zigbee2mqtt-in","z":"19e5a93a.f6b177","name":"","server":"9ab772ac.d1d46","friendly_name":"curtain_switch","device_id":"0xcc86ecfffebd4661","state":"0","outputAtStartup":true,"x":210,"y":540,"wires":[["258df276.4a0a2e"]]},{"id":"80d9f883.f0c918","type":"inject","z":"19e5a93a.f6b177","name":"CLOSE WINDOW","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/curtain_switch/set","payload":"{\"state\": \"OPEN\"}","payloadType":"json","x":610,"y":240,"wires":[["e165fac.7803108"]]},{"id":"1302761d.326e0a","type":"inject","z":"19e5a93a.f6b177","name":"OPEN WINDOW","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/curtain_switch/set","payload":"{\"state\": \"CLOSE\"}","payloadType":"json","x":600,"y":200,"wires":[["e165fac.7803108"]]},{"id":"51654568.94848c","type":"inject","z":"19e5a93a.f6b177","name":"25","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/curtain_switch/set","payload":"{\"position\": 25}","payloadType":"json","x":610,"y":40,"wires":[["e165fac.7803108"]]},{"id":"cf9c7902.b1a598","type":"inject","z":"19e5a93a.f6b177","name":"50","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/curtain_switch/set","payload":"{\"position\": 50}","payloadType":"json","x":610,"y":80,"wires":[["e165fac.7803108"]]},{"id":"203d475.00d7eb8","type":"inject","z":"19e5a93a.f6b177","name":"75","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/curtain_switch/set","payload":"{\"position\": 75}","payloadType":"json","x":610,"y":120,"wires":[["e165fac.7803108"]]},{"id":"8e60e9c2.57c098","type":"ui_text","z":"4465dcd8.ef29d4","group":"90cf410f.e28b6","order":1,"width":"0","height":"0","name":"pollen count unit","label":"Anzahl Pollen als Tagesmittelwerte pro m3 Luft","format":"","layout":"col-center","x":600,"y":720,"wires":[]},{"id":"1b1ab78f.67d808","type":"ui_text","z":"4465dcd8.ef29d4","group":"c13cffd1.aba74","order":10,"width":"0","height":"0","name":"last pollen count update","label":"","format":"Letzte Messung ({{msg.payload}})","layout":"col-center","x":1370,"y":1440,"wires":[]},{"id":"258df276.4a0a2e","type":"switch","z":"19e5a93a.f6b177","name":"check position","property":"payload.position","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"100","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":380,"y":540,"wires":[["a9c15684.a28478","5716216c.c38ab"]]},{"id":"259b896d.d74986","type":"link out","z":"19e5a93a.f6b177","name":"Motorposition","links":["6a6743b6.40e81c","44ac9842.ebbf18","419bdbed.2b34f4","57be793e.c6ee88","f60c7cfb.ede5e"],"x":775,"y":560,"wires":[]},{"id":"a9c15684.a28478","type":"change","z":"19e5a93a.f6b177","name":"format","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.position","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":560,"wires":[["93ad4204.d36b7"]]},{"id":"274c53a3.b9af5c","type":"link in","z":"19e5a93a.f6b177","name":"Aktor (eigene Position)","links":["36834204.1377ae","25eaa9a.74b5856","a4869e3a.3a4c","29fda120.d3a5be","8286897e.a543d8"],"x":155,"y":340,"wires":[["ab069ee2.b0d84"]]},{"id":"927ee2ca.c8cde","type":"function","z":"19e5a93a.f6b177","name":"set new position","func":"msg.payload = {\"position\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":340,"wires":[["b3955854.2fd098","9ea46233.0fc4a"]]},{"id":"b3955854.2fd098","type":"change","z":"19e5a93a.f6b177","name":"set command","rules":[{"t":"set","p":"topic","pt":"msg","to":"zigbee2mqtt/curtain_switch/set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":300,"wires":[["e165fac.7803108","756f17ad.f78d48"]]},{"id":"3fffcb39.955e44","type":"ui_text","z":"4465dcd8.ef29d4","group":"3b747350.3e5f6c","order":0,"width":0,"height":0,"name":"pollen count warning","label":"","format":"<font color=red><i class=\"fa fa-envira \" aria-hidden=\"true\"></i> {{msg.payload}}</font>","layout":"col-center","x":580,"y":680,"wires":[]},{"id":"e658b8c1.316828","type":"change","z":"4465dcd8.ef29d4","name":"set warning text","rules":[{"t":"set","p":"payload","pt":"msg","to":" Warnung: Es sind Pollen in der Luft !!!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":680,"wires":[["3fffcb39.955e44","6921b73c.22b068"]]},{"id":"f0f454d3.259ff8","type":"function","z":"4465dcd8.ef29d4","name":"hide & show WARNING","func":"arr = [\"Smart_Home_-_Klimaüberwachung_PollenWarnung\"];\n\nif(msg.payload == true)\n{\n    msg.payload = {\"group\": {\"show\": arr} };\n    return msg;\n}\nelse\n{\n    msg.payload = {\"group\": {\"hide\": arr} };\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":720,"wires":[["36e246a0.53df2a"]]},{"id":"36e246a0.53df2a","type":"ui_ui_control","z":"4465dcd8.ef29d4","name":"GUI","events":"all","x":450,"y":720,"wires":[[]]},{"id":"2053cd7d.283f02","type":"switch","z":"4465dcd8.ef29d4","name":"if alarm","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":580,"wires":[["c2209c56.f592c"]]},{"id":"c2209c56.f592c","type":"change","z":"4465dcd8.ef29d4","name":"set warning text","rules":[{"t":"set","p":"payload","pt":"msg","to":"expectedPrecipitation","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"(\"Warnung: Erwarte Niederschlagsmenge (\" & payload & \" l/m²)!\")","tot":"jsonata"},{"t":"set","p":"statusMassage","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":580,"wires":[["bfde8146.debd9","6921b73c.22b068"]]},{"id":"bfde8146.debd9","type":"ui_text","z":"4465dcd8.ef29d4","group":"c647cb4b.f41a18","order":0,"width":0,"height":0,"name":"precipitation warning","label":"","format":"<font color=red><i class=\"fa fa-umbrella \" aria-hidden=\"true\"></i> {{msg.payload}}</font>","layout":"col-center","x":580,"y":580,"wires":[]},{"id":"5a13219d.bef0c","type":"function","z":"4465dcd8.ef29d4","name":"hide & show GUI","func":"arr = [\"Smart_Home_-_Klimaüberwachung_RegenWarnung\"];\n\nif(msg.payload == true)\n{\n    msg.payload = {\"group\": {\"show\": arr} };\n    return msg;\n}\nelse\n{\n    msg.payload = {\"group\": {\"hide\": arr} };\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":620,"wires":[["24e47968.ffd946"]]},{"id":"24e47968.ffd946","type":"ui_ui_control","z":"4465dcd8.ef29d4","name":"GUI","events":"all","x":410,"y":620,"wires":[[]]},{"id":"53889a4e.aad454","type":"change","z":"19e5a93a.f6b177","name":"open","rules":[{"t":"set","p":"topic","pt":"msg","to":"zigbee2mqtt/curtain_switch/set","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"position\": 0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":420,"wires":[["e165fac.7803108","9eefc34f.bdd8e","3e047368.63e37c"]]},{"id":"70c9d86f.6f1458","type":"link in","z":"19e5a93a.f6b177","name":"Aktor (Fenster öffnen)","links":["a2cce7.41127318","686ef684.f74918","3bd2eb19.9a7524","4c49a391.0f678c","293d05e0.32c66a","f36491cf.89f3d","a68a366b.be0e48"],"x":155,"y":420,"wires":[["31fc1cc4.728d44"]]},{"id":"5716216c.c38ab","type":"change","z":"19e5a93a.f6b177","name":"save position","rules":[{"t":"set","p":"position","pt":"flow","to":"payload.position","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":520,"wires":[[]]},{"id":"31fc1cc4.728d44","type":"switch","z":"19e5a93a.f6b177","name":"if not (fully) open","property":"position","propertyType":"flow","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":420,"wires":[["53889a4e.aad454"]]},{"id":"49743c55.537cb4","type":"link in","z":"19e5a93a.f6b177","name":"Aktor (Fenster schließen)","links":["9f8288b8.64fe18","879a2379.0b66c","d09d1c7c.e46f2","d34b7a1f.229308","53d1ba41.0cde04","863a9382.0ac9b","6215f90e.af86f8","3d279687.8bbb7a","11bebacb.572b95"],"x":155,"y":380,"wires":[["b6d53022.34f34"]]},{"id":"b6d53022.34f34","type":"switch","z":"19e5a93a.f6b177","name":"if open","property":"position","propertyType":"flow","rules":[{"t":"lt","v":"75","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":380,"wires":[["73b85d42.522d14"]]},{"id":"73b85d42.522d14","type":"change","z":"19e5a93a.f6b177","name":"close","rules":[{"t":"set","p":"topic","pt":"msg","to":"zigbee2mqtt/curtain_switch/set","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"position\": 75}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":380,"wires":[["e165fac.7803108","8eab0bb0.2ebc98","a3bd4d39.d87c7"]]},{"id":"ab069ee2.b0d84","type":"range","z":"19e5a93a.f6b177","minin":"0","maxin":"100","minout":"0","maxout":"75","action":"scale","round":true,"property":"payload","name":"rescale","x":260,"y":340,"wires":[["927ee2ca.c8cde"]]},{"id":"93ad4204.d36b7","type":"range","z":"19e5a93a.f6b177","minin":"0","maxin":"75","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"rescale","x":680,"y":560,"wires":[["259b896d.d74986"]]},{"id":"8eab0bb0.2ebc98","type":"change","z":"19e5a93a.f6b177","name":"closes speech","rules":[{"t":"set","p":"payload","pt":"msg","to":"Schließe das Fenster","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":460,"wires":[["509b25fb.cce0fc"]]},{"id":"9eefc34f.bdd8e","type":"change","z":"19e5a93a.f6b177","name":"open speech","rules":[{"t":"set","p":"payload","pt":"msg","to":"Öffne das Fenster","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":500,"wires":[["509b25fb.cce0fc"]]},{"id":"9ea46233.0fc4a","type":"switch","z":"19e5a93a.f6b177","name":"choose action","property":"payload.position","propertyType":"msg","rules":[{"t":"gt","v":"position","vt":"flow"},{"t":"lt","v":"position","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":340,"wires":[["8eab0bb0.2ebc98"],["9eefc34f.bdd8e"]]},{"id":"250deb40.1c6164","type":"link in","z":"4465dcd8.ef29d4","name":"sensor data (outside)","links":["c2feee01.15244","d34b7a1f.229308","54871a82.63f344"],"x":75,"y":600,"wires":[["2053cd7d.283f02","5a13219d.bef0c"]]},{"id":"2264932b.9753bc","type":"ui_chart","z":"4465dcd8.ef29d4","name":"air quality graph (h)","group":"de728260.58e1c","order":3,"width":"0","height":"0","label":"<i class=\"fa fa-car\" aria-hidden=\"true\"></i> Raumluftqualität (ppm)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#d62728","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":300,"wires":[["25feb0f8.623ac"]]},{"id":"31beba08.3db236","type":"dwdweather","z":"2f4ec664.f9269a","name":"sensor (outside)","mosmixStation":"10637","lookAheadHours":"0","additionalFields":"RR1c","repeat":"","topic":"outside","x":280,"y":240,"wires":[["995639ad.53eeb8"]]},{"id":"b0ecac63.e9fe5","type":"inject","z":"2f4ec664.f9269a","name":"measure","props":[{"p":"topic","vt":"str"},{"p":"time","v":"","vt":"date"},{"p":"payload.lookAheadHours","v":"0","vt":"num"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"sensor","x":100,"y":220,"wires":[["69deca34.b915c4","31beba08.3db236","49acd2e.5394a2c"]]},{"id":"e39f35c7.f5d698","type":"link out","z":"2f4ec664.f9269a","name":"sonder data (inside)","links":["5085229f.f4aa3c","ae48e7.9b833718","fb82f13b.1f3e7","2b31a14e.de80ce","e585b10d.197ad"],"x":755,"y":160,"wires":[]},{"id":"6f8d0ac.0fc83f4","type":"link out","z":"2f4ec664.f9269a","name":"sensor data (outside)","links":["23db00a0.ced02","92198830.529878","648e52e5.f9f7cc"],"x":755,"y":280,"wires":[]},{"id":"e643a006.622c1","type":"http request","z":"2f4ec664.f9269a","name":"sensor (pollen)","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://opendata.dwd.de/climate_environment/health/alerts/s31fg.json","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":520,"wires":[["9eecf1cf.fb029"]]},{"id":"ec22e87c.9f45c8","type":"link in","z":"2f4ec664.f9269a","name":"start pollen count","links":["beabd0a1.bcdac","5871bee5.5b571"],"x":275,"y":480,"wires":[["e643a006.622c1"]]},{"id":"a3025412.b8d008","type":"change","z":"2f4ec664.f9269a","name":"clean up","rules":[{"t":"set","p":"topic","pt":"msg","to":"inside","tot":"str"},{"t":"move","p":"time","pt":"msg","to":"payload.time","tot":"msg"},{"t":"delete","p":"payload_in","pt":"msg"},{"t":"delete","p":"payload_raw","pt":"msg"},{"t":"delete","p":"format","pt":"msg"},{"t":"delete","p":"device","pt":"msg"},{"t":"delete","p":"homekit","pt":"msg"},{"t":"delete","p":"payload.battery","pt":"msg"},{"t":"delete","p":"payload.linkquality","pt":"msg"},{"t":"delete","p":"payload.voltage","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":200,"wires":[["3c39eb7.f806614","e39f35c7.f5d698","782e793c.6b44e8","e646b55c.2676a8","818c7c3b.01397"]]},{"id":"995639ad.53eeb8","type":"change","z":"2f4ec664.f9269a","name":"clean up","rules":[{"t":"set","p":"topic","pt":"msg","to":"outside","tot":"str"},{"t":"move","p":"time","pt":"msg","to":"payload.time","tot":"msg"},{"t":"move","p":"payload.tempc","pt":"msg","to":"payload.temperature","tot":"msg"},{"t":"move","p":"payload.RR1c","pt":"msg","to":"payload.precipitation","tot":"msg"},{"t":"delete","p":"payload_in","pt":"msg"},{"t":"delete","p":"payload_raw","pt":"msg"},{"t":"delete","p":"device","pt":"msg"},{"t":"delete","p":"homekit","pt":"msg"},{"t":"delete","p":"format","pt":"msg"},{"t":"delete","p":"payload.windspeed","pt":"msg"},{"t":"delete","p":"payload.winddirection","pt":"msg"},{"t":"delete","p":"payload.precipitation_perc","pt":"msg"},{"t":"delete","p":"payload.precipitationNext24h","pt":"msg"},{"t":"delete","p":"payload.forecast_dt","pt":"msg"},{"t":"delete","p":"payload.precipitation%","pt":"msg"},{"t":"delete","p":"payload.station","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":240,"wires":[["3c39eb7.f806614","6f8d0ac.0fc83f4","4e06f83a.431028","1b6aad49.2796f3","24089d9f.c7eb82","d52e1104.a21f3"]]},{"id":"3c39eb7.f806614","type":"join","z":"2f4ec664.f9269a","name":"join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":790,"y":220,"wires":[["802e5117.90ff6"]]},{"id":"8655cae.d4f0538","type":"debug","z":"2f4ec664.f9269a","name":"sensor data","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"(\"received new sensor data\")","targetType":"jsonata","statusVal":"(\"temperature inside: \" & payload.inside.temperature)","statusType":"auto","x":1250,"y":260,"wires":[]},{"id":"802e5117.90ff6","type":"change","z":"2f4ec664.f9269a","name":"set time & topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"sensor","tot":"str"},{"t":"set","p":"time","pt":"msg","to":"","tot":"date"},{"t":"delete","p":"payload.inside.time","pt":"msg"},{"t":"delete","p":"payload.outside.time","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":220,"wires":[["aab59046.52fe6"]]},{"id":"aab59046.52fe6","type":"change","z":"2f4ec664.f9269a","name":"save","rules":[{"t":"set","p":"sensor","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"data","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":220,"wires":[["8655cae.d4f0538","613cd6ea.fab2f8"]]},{"id":"613cd6ea.fab2f8","type":"link out","z":"2f4ec664.f9269a","name":"sensor data","links":[],"x":1195,"y":220,"wires":[]},{"id":"9eecf1cf.fb029","type":"change","z":"2f4ec664.f9269a","name":"clean up","rules":[{"t":"set","p":"topic","pt":"msg","to":"pollen","tot":"str"},{"t":"set","p":"time","pt":"msg","to":"","tot":"date"},{"t":"move","p":"payload.last_update","pt":"msg","to":"payload.content[16].Pollen.last_update","tot":"msg"},{"t":"move","p":"payload.content[16].Pollen","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"statusCode","pt":"msg"},{"t":"delete","p":"responseUrl","pt":"msg"},{"t":"delete","p":"redirectList","pt":"msg"},{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["164677ba.fa4ff8","dc49a1c6.3872d"]]},{"id":"353abef1.69d382","type":"inject","z":"2f4ec664.f9269a","name":"get","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":560,"wires":[["e643a006.622c1"]]},{"id":"37b5a581.963f4a","type":"debug","z":"2f4ec664.f9269a","name":"pollen count","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload.last_update","statusType":"msg","x":950,"y":560,"wires":[]},{"id":"164677ba.fa4ff8","type":"change","z":"2f4ec664.f9269a","name":"save","rules":[{"t":"set","p":"pollen","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":520,"wires":[["37b5a581.963f4a","6bb60b02.ac34e4"]]},{"id":"6bb60b02.ac34e4","type":"link out","z":"2f4ec664.f9269a","name":"pollen data","links":["3a12274a.fc03f8","df21c687.7b1438","133319e0.941406"],"x":895,"y":520,"wires":[]},{"id":"69deca34.b915c4","type":"zigbee2mqtt-get","z":"2f4ec664.f9269a","name":"sensor (inside)","server":"9ab772ac.d1d46","friendly_name":"air_sensor","device_id":"0x5c0272fffe03fdbe","state":"0","x":280,"y":200,"wires":[["bab78d07.74704"]]},{"id":"4b064c5a.b78db4","type":"change","z":"4465dcd8.ef29d4","name":"set legend (inside)","rules":[{"t":"set","p":"topic","pt":"msg","to":"Raum","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":360,"wires":[["dd02b4f9.9c5608","9285bb9f.754178","8ea5627b.f2f61","9edcf942.f6de58","19afb4e3.f891bb"]]},{"id":"54e7ae9d.afdaa","type":"change","z":"4465dcd8.ef29d4","name":"set legend (outside)","rules":[{"t":"set","p":"topic","pt":"msg","to":"Außen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":200,"wires":[["dd02b4f9.9c5608","9285bb9f.754178"]]},{"id":"c4960054.75afe","type":"switch","z":"4465dcd8.ef29d4","name":"only inside","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Raum","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":40,"wires":[["34fcd177.b6a9ae"]]},{"id":"d292e114.84396","type":"switch","z":"4465dcd8.ef29d4","name":"only inside","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Raum","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":80,"wires":[["f1900f78.28167"]]},{"id":"8ea5627b.f2f61","type":"change","z":"4465dcd8.ef29d4","name":"filter CO2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.co2","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"CO2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":380,"wires":[["2264932b.9753bc","96dd2b16.009ea8","8dfb3f27.049b4"]]},{"id":"9edcf942.f6de58","type":"change","z":"4465dcd8.ef29d4","name":"filter VOC","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.voc","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"VOC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":340,"wires":[["b783b51f.c32978","20b83b6.430c8c4"]]},{"id":"8dfb3f27.049b4","type":"ui_chart","z":"4465dcd8.ef29d4","name":"air quality graph (d)","group":"6d6d9cb7.8580b4","order":3,"width":"0","height":"0","label":"<i class=\"fa fa-car\" aria-hidden=\"true\"></i> Raumluftqualität (ppm)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#d62728","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":340,"wires":[["2cba24d.90e8cdc"]]},{"id":"81333c88.a37da","type":"inject","z":"4465dcd8.ef29d4","name":"delete","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":470,"y":460,"wires":[["fa366900.5f0358","6c44b517.0c0f9c","8dfb3f27.049b4","b783b51f.c32978","20b83b6.430c8c4","ced3422e.80701","f6e96e65.00b48","2264932b.9753bc"]]},{"id":"96dd2b16.009ea8","type":"ui_gauge","z":"4465dcd8.ef29d4","name":"air quality (live)","group":"690a56f2.668638","order":3,"width":"4","height":"3","gtype":"gage","title":"<i class=\"fa fa-car\" aria-hidden=\"true\"></i> CO2","label":"ppm","format":"{{value}}","min":"0","max":"1000","colors":["#00b500","#f4cc06","#ec2727"],"seg1":"500","seg2":"800","x":840,"y":380,"wires":[]},{"id":"5e03d195.a520d","type":"change","z":"4465dcd8.ef29d4","name":"last update","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.last_update","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":1440,"wires":[["1b1ab78f.67d808"]]},{"id":"88eddc4e.4dcfb","type":"ui_level","z":"4465dcd8.ef29d4","group":"716bf37b.62d27c","order":1,"width":"5","height":"1","name":"Beifuß_bar","label":"Beifuß","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"10","segWarn":"1","segHigh":"6","unit":"","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":"2","colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":true,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1290,"y":1080,"wires":[]},{"id":"3541c570.0e3d3a","type":"ui_level","z":"4465dcd8.ef29d4","group":"f867e959.9c17f8","order":1,"width":"5","height":"1","name":"Ambrosia_bar","label":"Ambrosia","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"10","segWarn":"1","segHigh":"6","unit":"","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":"2","colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":true,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1300,"y":1020,"wires":[]},{"id":"8d086061.bb46d","type":"ui_level","z":"4465dcd8.ef29d4","group":"989a6a8d.8900c8","order":1,"width":"5","height":"1","name":"Erle_bar","label":"Erle","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":100,"segWarn":"1","segHigh":"11","unit":"","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":"2","colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":true,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1280,"y":1260,"wires":[]},{"id":"e6f71.8f1e808f8","type":"ui_level","z":"4465dcd8.ef29d4","group":"1d1a171a.4a47e9","order":1,"width":"5","height":"1","name":"Esche_bar","label":"Esche","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"75","segWarn":"1","segHigh":"51","unit":"","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":"2","colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":true,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1290,"y":1380,"wires":[]},{"id":"1fb2d126.497e8f","type":"ui_level","z":"4465dcd8.ef29d4","group":"18e67ebe.fe5ef1","order":1,"width":"5","height":"1","name":"Gräser_bar","label":"Gräser","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"30","segWarn":"1","segHigh":"6","unit":"","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":"2","colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":true,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1290,"y":1140,"wires":[]},{"id":"26d70673.b098ea","type":"ui_level","z":"4465dcd8.ef29d4","group":"8c94783a.209d08","order":1,"width":"5","height":"1","name":"Haselnuss_bar","label":"Haselnuss","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":100,"segWarn":"1","segHigh":"11","unit":"","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":"2","colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":true,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1300,"y":1200,"wires":[]},{"id":"9174bf50.9174b","type":"ui_level","z":"4465dcd8.ef29d4","group":"4950803.75cd08","order":1,"width":"5","height":"1","name":"Roggen_bar","label":"Roggen","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"6","segWarn":"1","segHigh":"3","unit":"","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":"2","colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":true,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1290,"y":1320,"wires":[]},{"id":"631183aa.01b16c","type":"change","z":"4465dcd8.ef29d4","name":"filter","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Graeser.today","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Gräser","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1140,"wires":[["1fb2d126.497e8f"]]},{"id":"a40fd4ad.311318","type":"change","z":"4465dcd8.ef29d4","name":"filter","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Hasel.today","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Haselnuss","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1200,"wires":[["26d70673.b098ea"]]},{"id":"a9eb96de.415958","type":"change","z":"4465dcd8.ef29d4","name":"filter","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Ambrosia.today","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Ambrosia","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1020,"wires":[["3541c570.0e3d3a"]]},{"id":"98882f2b.404ed","type":"change","z":"4465dcd8.ef29d4","name":"filter","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Beifuss.today","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Beifuß","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1080,"wires":[["88eddc4e.4dcfb"]]},{"id":"95753548.97b318","type":"change","z":"4465dcd8.ef29d4","name":"filter","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Hasel.today","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Erle","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1260,"wires":[["8d086061.bb46d"]]},{"id":"f4986bf2.d65628","type":"change","z":"4465dcd8.ef29d4","name":"filter","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Roggen.today","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Roggen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1320,"wires":[["9174bf50.9174b"]]},{"id":"79261c32.1dbe64","type":"change","z":"4465dcd8.ef29d4","name":"filter","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Esche.today","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Esche","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1380,"wires":[["e6f71.8f1e808f8"]]},{"id":"b86770d.650599","type":"change","z":"4465dcd8.ef29d4","name":"filter","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Birke.today","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Birke","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":960,"wires":[["f766b30b.965c1"]]},{"id":"f766b30b.965c1","type":"ui_level","z":"4465dcd8.ef29d4","group":"ed42f81f.b66678","order":1,"width":"5","height":"1","name":"Birke_bar","label":"Birke","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"50","segWarn":"1","segHigh":"11","unit":"","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":"2","colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":true,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1280,"y":960,"wires":[]},{"id":"133319e0.941406","type":"link in","z":"4465dcd8.ef29d4","name":"pollen data","links":["6bb60b02.ac34e4"],"x":1015,"y":1180,"wires":[["631183aa.01b16c","a40fd4ad.311318","b86770d.650599","a9eb96de.415958","98882f2b.404ed","95753548.97b318","f4986bf2.d65628","79261c32.1dbe64","5e03d195.a520d"]]},{"id":"3d5387b2.cf6b08","type":"ui_switch","z":"4465dcd8.ef29d4","name":"Birke","label":"","tooltip":"","group":"ed42f81f.b66678","order":2,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":510,"y":940,"wires":[["798fb111.440dc"]]},{"id":"c58791d8.08a97","type":"ui_switch","z":"4465dcd8.ef29d4","name":"pollen-switch","label":"<i class=\"fa fa-certificate\" aria-hidden=\"true\"></i> Pollenflug überwachen?","tooltip":"","group":"765ef432.ef208c","order":12,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":530,"y":880,"wires":[["e15853d1.96ffb","c3d3bb2a.6cec68"]]},{"id":"ce94906c.b3601","type":"ui_ui_control","z":"4465dcd8.ef29d4","name":"GUI","events":"all","x":1070,"y":880,"wires":[[]]},{"id":"4bc27482.571e8c","type":"function","z":"4465dcd8.ef29d4","name":"hide & show GUI","func":"arr = [\n        \"Smart_Home_-_Klimaüberwachung_LetzteMessung\",\n        \"Smart_Home_-_Klimaüberwachung_Pollenflug\",\n        \"Smart_Home_-_Klimaüberwachung_Birke\",\n        \"Smart_Home_-_Klimaüberwachung_Ambrosia\",\n        \"Smart_Home_-_Klimaüberwachung_Beifuß\",\n        \"Smart_Home_-_Klimaüberwachung_Gräser\",\n        \"Smart_Home_-_Klimaüberwachung_Haselnuss\",\n        \"Smart_Home_-_Klimaüberwachung_Erle\",\n        \"Smart_Home_-_Klimaüberwachung_Roggen\",\n        \"Smart_Home_-_Klimaüberwachung_Esche\"\n        ];\n\nif(msg.payload == true)\n{\n    msg.payload = {\"group\": {\"show\": arr} };\n}\nelse\n{\n    msg.payload = {\"group\": {\"hide\": arr} };\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":880,"wires":[["ce94906c.b3601"]]},{"id":"1e767737.232c49","type":"ui_switch","z":"4465dcd8.ef29d4","name":"Ambrosia","label":"","tooltip":"","group":"f867e959.9c17f8","order":2,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":520,"y":1000,"wires":[["aec4fca6.7ac73"]]},{"id":"2faddcf5.043d54","type":"ui_switch","z":"4465dcd8.ef29d4","name":"Beifuß","label":"","tooltip":"","group":"716bf37b.62d27c","order":2,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":510,"y":1060,"wires":[["47157f21.759cb"]]},{"id":"9ae12556.da4bb8","type":"ui_switch","z":"4465dcd8.ef29d4","name":"Gräser","label":"","tooltip":"","group":"18e67ebe.fe5ef1","order":2,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":510,"y":1120,"wires":[["d0765873.7ee7b8"]]},{"id":"d2a9accf.f7762","type":"ui_switch","z":"4465dcd8.ef29d4","name":"Haselnuss","label":"","tooltip":"","group":"8c94783a.209d08","order":2,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":530,"y":1180,"wires":[["ba0ea45b.218268"]]},{"id":"a7ce23df.654e8","type":"ui_switch","z":"4465dcd8.ef29d4","name":"Erle","label":"","tooltip":"","group":"989a6a8d.8900c8","order":2,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":510,"y":1240,"wires":[["1c2074ed.955b2b"]]},{"id":"dbc52f2.aa129d","type":"ui_switch","z":"4465dcd8.ef29d4","name":"Esche","label":"","tooltip":"","group":"1d1a171a.4a47e9","order":2,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":510,"y":1360,"wires":[["9447a9b5.1b8fa8"]]},{"id":"81788256.93d4","type":"ui_switch","z":"4465dcd8.ef29d4","name":"Roggen","label":"","tooltip":"","group":"4950803.75cd08","order":2,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":520,"y":1300,"wires":[["523011e8.eaf48"]]},{"id":"798fb111.440dc","type":"change","z":"4465dcd8.ef29d4","name":"save","rules":[{"t":"set","p":"settings.watchPollenCount.Birke","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":940,"wires":[["a69b6b02.591788"]]},{"id":"aec4fca6.7ac73","type":"change","z":"4465dcd8.ef29d4","name":"save","rules":[{"t":"set","p":"settings.watchPollenCount.Ambrosia","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1000,"wires":[["a69b6b02.591788"]]},{"id":"47157f21.759cb","type":"change","z":"4465dcd8.ef29d4","name":"save","rules":[{"t":"set","p":"settings.watchPollenCount.Beifuß","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1060,"wires":[["a69b6b02.591788"]]},{"id":"d0765873.7ee7b8","type":"change","z":"4465dcd8.ef29d4","name":"save","rules":[{"t":"set","p":"settings.watchPollenCount.Gräser","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1120,"wires":[["a69b6b02.591788"]]},{"id":"ba0ea45b.218268","type":"change","z":"4465dcd8.ef29d4","name":"save","rules":[{"t":"set","p":"settings.watchPollenCount.Haselnuss","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1180,"wires":[["a69b6b02.591788"]]},{"id":"1c2074ed.955b2b","type":"change","z":"4465dcd8.ef29d4","name":"save","rules":[{"t":"set","p":"settings.watchPollenCount.Erle","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1240,"wires":[["a69b6b02.591788"]]},{"id":"523011e8.eaf48","type":"change","z":"4465dcd8.ef29d4","name":"save","rules":[{"t":"set","p":"settings.watchPollenCount.Roggen","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1300,"wires":[["a69b6b02.591788"]]},{"id":"9447a9b5.1b8fa8","type":"change","z":"4465dcd8.ef29d4","name":"save","rules":[{"t":"set","p":"settings.watchPollenCount.Esche","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1360,"wires":[["a69b6b02.591788"]]},{"id":"e15853d1.96ffb","type":"switch","z":"4465dcd8.ef29d4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":800,"wires":[["5871bee5.5b571"],["cca3039f.fd1b1"]]},{"id":"5871bee5.5b571","type":"link out","z":"4465dcd8.ef29d4","name":"start pollen count","links":["ec22e87c.9f45c8"],"x":835,"y":780,"wires":[]},{"id":"cca3039f.fd1b1","type":"function","z":"4465dcd8.ef29d4","name":"disable alarm","func":"if(global.get(\"alarm.pollenCount\") == true ||\nglobal.get(\"alarm.pollenCount\") === undefined)\n{\n    global.set(\"alarm.pollenCount\", false);\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":820,"wires":[["dfac866b.32c258"]]},{"id":"2ed1041.8c836fc","type":"inject","z":"4021b66e.af3768","name":"1. Touchlink Scan","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/bridge/request/touchlink/scan","payload":"","payloadType":"str","x":160,"y":260,"wires":[["f56fe42a.9b82c8"]]},{"id":"f56fe42a.9b82c8","type":"mqtt out","z":"4021b66e.af3768","name":"publisher","topic":"","qos":"","retain":"","broker":"2c77cea2.6a35a2","x":380,"y":320,"wires":[]},{"id":"30a7578f.1b08d8","type":"inject","z":"4021b66e.af3768","name":"2. Touchlink Identify","props":[{"p":"topic","vt":"str"},{"p":"payload.ieee_address","v":"0x00178801043cafe3","vt":"str"},{"p":"payload.channel","v":"11","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/bridge/request/touchlink/identify","payloadType":"str","x":170,"y":320,"wires":[["f56fe42a.9b82c8"]]},{"id":"29a809d9.980916","type":"inject","z":"4021b66e.af3768","name":"3. Factory reset device","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"zigbee2mqtt/bridge/request/touchlink/factory_reset","payload":"","payloadType":"str","x":180,"y":380,"wires":[["f56fe42a.9b82c8"]]},{"id":"c603e5be.536ad8","type":"debug","z":"4021b66e.af3768","name":"Respons","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":320,"wires":[]},{"id":"df39e861.45add8","type":"mqtt in","z":"4021b66e.af3768","name":"receiver","topic":"zigbee2mqtt/bridge/response/touchlink/scan","qos":"2","datatype":"auto","broker":"2c77cea2.6a35a2","x":510,"y":320,"wires":[["c603e5be.536ad8"]]},{"id":"4e06f83a.431028","type":"function","z":"2f4ec664.f9269a","name":"check precipitation","func":"var quantity = msg.payload.precipitation;\nvar limit = 0;\n\nif(global.get(\"settings.maxPrecipitation\") === undefined)\n{\n    global.set(\"settings.maxPrecipitation\", 0);\n}\nelse\n{\n    limit = global.get(\"settings.maxPrecipitation\");\n}\n\nif(quantity > limit)\n{\n    global.set(\"alarm.precipitation\", true);\n    msg.payload = true;\n}\nelse\n{\n    global.set(\"alarm.precipitation\", false);\n    msg.payload = false;\n}\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":320,"wires":[["c2feee01.15244"]]},{"id":"a1e666ee.adbac8","type":"inject","z":"2f4ec664.f9269a","name":"rain alarm","props":[{"p":"topic","vt":"str"},{"p":"payload.precipitation","v":"1","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":580,"y":100,"wires":[["4e06f83a.431028"]]},{"id":"c2feee01.15244","type":"link out","z":"2f4ec664.f9269a","name":"precipitation alarm","links":["250deb40.1c6164","86ebea3d.1e23a8","2a553675.ca633a","1173e730.707e89"],"x":1015,"y":320,"wires":[]},{"id":"dc49a1c6.3872d","type":"function","z":"2f4ec664.f9269a","name":"check pollen count","func":"var limit = 0;\n\nif(global.get(\"settings.maxPollenCount\") === undefined)\n{\n    global.set(\"settings.maxPollenCount\", 0);\n}\nelse\n{\n    limit = global.get(\"settings.maxPollenCount\");\n}\n\n//check if enabled and to many pollen in the air\n\nif(global.get(\"settings.watchPollenCount.Ambrosia\") == true\n&& msg.payload.Ambrosia.today > limit)\n{\n    global.set(\"alarm.pollenCount\", true);\n    msg.payload = true;\n    return msg;\n}\n\nelse if(global.get(\"settings.watchPollenCount.Gräser\") == true\n&& msg.payload.Graeser.today > limit)\n{\n    global.set(\"alarm.pollenCount\", true);\n    msg.payload = true;\n    return msg;\n}\n\nelse if(global.get(\"settings.watchPollenCount.Birke\") == true\n&& msg.payload.Birke.today > limit)\n{\n    global.set(\"alarm.pollenCount\", true);\n    msg.payload = true;\n    return msg;\n}\n\nelse if(global.get(\"settings.watchPollenCount.Beifuß\") == true\n&& msg.payload.Beifuss.today > limit)\n{\n    global.set(\"alarm.pollenCount\", true);\n    msg.payload = true;\n    return msg;\n}\n\nelse if(global.get(\"settings.watchPollenCount.Roggen\") == true\n&& msg.payload.Roggen.today > limit)\n{\n    global.set(\"alarm.pollenCount\", true);\n    msg.payload = true;\n    return msg;\n}\n\nelse if(global.get(\"settings.watchPollenCount.Haselnuss\") == true\n&& msg.payload.Hasel.today > limit)\n{\n    global.set(\"alarm.pollenCount\", true);\n    msg.payload = true;\n    return msg;\n}\n\nelse if(global.get(\"settings.watchPollenCount.Esche\") == true\n&& msg.payload.Esche.today > limit)\n{\n    global.set(\"alarm.pollenCount\", true);\n    msg.payload = true;\n    return msg;\n}\n\nelse if(global.get(\"settings.watchPollenCount.Erle\") == true\n&& msg.payload.Erle.today > limit)\n{\n    global.set(\"alarm.pollenCount\", true);\n    msg.payload = true;\n    return msg;\n}\n\nelse\n{\n    global.set(\"alarm.pollenCount\", false);\n    msg.payload = false;\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":480,"wires":[["7806eee6.09cfa"]]},{"id":"7806eee6.09cfa","type":"link out","z":"2f4ec664.f9269a","name":"pollen count alarm","links":["c9434b03.a013e8","c1b1324.64006d","2a553675.ca633a","a60b9e06.56f63"],"x":975,"y":480,"wires":[]},{"id":"c9434b03.a013e8","type":"link in","z":"4465dcd8.ef29d4","name":"","links":["7806eee6.09cfa"],"x":75,"y":680,"wires":[["b1168fd.1b9417","f0f454d3.259ff8"]]},{"id":"b1168fd.1b9417","type":"switch","z":"4465dcd8.ef29d4","name":"if alarm","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":680,"wires":[["e658b8c1.316828"]]},{"id":"782e793c.6b44e8","type":"function","z":"2f4ec664.f9269a","name":"check air","func":"var maxVOC = 1;\nvar maxCO2 = 500;\nvar maxFormaldehyd = 10;\n\n//get gas boundries\nif(global.get(\"settings.maxVOC\") === undefined)\n{\n    global.set(\"settings.maxVOC\", maxVOC);\n}\nelse\n{\n    maxVOC = global.get(\"settings.maxVOC\");\n}\n\n\nif(global.get(\"settings.maxCO2\") === undefined)\n{\n    global.set(\"settings.maxCO2\", maxCO2);\n}\nelse\n{\n    maxCO2 = global.get(\"settings.maxCO2\");\n}\n\nif(global.get(\"settings.maxFormaldehyd\") === undefined)\n{\n    global.set(\"settings.maxFormaldehyd\", maxFormaldehyd);\n}\nelse\n{\n    maxFormaldehyd = global.get(\"settings.maxFormaldehyd\");\n}\n\n\nif(msg.payload.voc > maxVOC\n|| msg.payload.co2 > maxCO2\n|| msg.payload.formaldehyd > maxFormaldehyd)\n{\n    global.set(\"alarm.air\", true);\n    msg.payload = true;\n    return msg;\n}\nelse\n{\n    global.set(\"alarm.air\", false);\n    msg.payload = false;\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":40,"wires":[["a69b3fd3.d8f16"]]},{"id":"67e4ac43.a69ba4","type":"inject","z":"2f4ec664.f9269a","name":"co2 alarm","props":[{"p":"payload.co2","v":"800","vt":"num"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":580,"y":60,"wires":[["782e793c.6b44e8"]]},{"id":"bab78d07.74704","type":"function","z":"2f4ec664.f9269a","name":"convert","func":"//Concentration (ppm) = 24.45 x concentration (mg/m3) ÷ molecular weight of X\n//source: https://inspectapedia.com/indoor_air_quality/Formaldehyde_Gas_Exposure_Limits.php#Convert\n\n//only when room temperature is 24°, \n//but the sensor resolution is very small, but good enogh as an idea\n\nmgm3 = msg.payload.formaldehyd;\n\nppm = 24.45 * mgm3 / 30.02598;\n\nppm = ppm * 100;\nppm = Math.round(ppm);\nppm = ppm / 100;\n\n\nmsg.payload.formaldehyd = ppm;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":200,"wires":[["a3025412.b8d008"]]},{"id":"19afb4e3.f891bb","type":"change","z":"4465dcd8.ef29d4","name":"filter formaldehyd","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.formaldehyd","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Formaldehyd","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":300,"wires":[["b783b51f.c32978","20b83b6.430c8c4"]]},{"id":"a69b3fd3.d8f16","type":"link out","z":"2f4ec664.f9269a","name":"bad air alarm","links":["bd0e3078.2e332","2a553675.ca633a","8eeda8f4.f670a8"],"x":995,"y":40,"wires":[]},{"id":"1b6aad49.2796f3","type":"function","z":"2f4ec664.f9269a","name":"check temperatur (outside)","func":"var maxTemperature = 26;\nvar minTemperature = 20;\nvar actual = msg.payload.temperature;\n\n//get gas boundries\nif(global.get(\"settings.maxTemperature\") === undefined)\n{\n    global.set(\"settings.maxTemperature\", maxTemperature);\n}\nelse\n{\n    maxTemperature = global.get(\"settings.maxTemperature\");\n}\n\n\nif(global.get(\"settings.minTemperature\") === undefined)\n{\n    global.set(\"settings.minTemperature\", minTemperature);\n}\nelse\n{\n    minTemperature = global.get(\"settings.minTemperature\");\n}\n\n\nif(actual > maxTemperature || actual < minTemperature)\n{\n    global.set(\"alarm.temperature_O\", true);\n    msg.payload = true;\n    return msg;\n}\nelse\n{\n    global.set(\"alarm.temperature_O\", false);\n    msg.payload = false;\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":360,"wires":[["1343168b.f74959"]]},{"id":"1343168b.f74959","type":"link out","z":"2f4ec664.f9269a","name":"temperatur alarm (outside)","links":["f95e5fce.a013e","2a553675.ca633a","51cc6254.dfe6dc"],"x":1015,"y":360,"wires":[]},{"id":"e646b55c.2676a8","type":"function","z":"2f4ec664.f9269a","name":"check temperatur (inside)","func":"var maxTemperature = 26;\nvar minTemperature = 20;\nvar actual = msg.payload.temperature;\n\n//get gas boundries\nif(global.get(\"settings.maxTemperature\") === undefined)\n{\n    global.set(\"settings.maxTemperature\", maxTemperature);\n}\nelse\n{\n    maxTemperature = global.get(\"settings.maxTemperature\");\n}\n\n\nif(global.get(\"settings.minTemperature\") === undefined)\n{\n    global.set(\"settings.minTemperature\", minTemperature);\n}\nelse\n{\n    minTemperature = global.get(\"settings.minTemperature\");\n}\n\n\nif(actual > maxTemperature || actual < minTemperature)\n{\n    global.set(\"alarm.temperature_I\", true);\n    msg.payload = true;\n    return msg;\n}\nelse\n{\n    global.set(\"alarm.temperature_I\", false);\n    msg.payload = false;\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":80,"wires":[["66f95393.2ab3fc"]]},{"id":"66f95393.2ab3fc","type":"link out","z":"2f4ec664.f9269a","name":"temperatur alarm (inside)","links":["8c690d75.83bd3","2a553675.ca633a","f5392ed5.59249"],"x":995,"y":80,"wires":[]},{"id":"818c7c3b.01397","type":"function","z":"2f4ec664.f9269a","name":"check humidity (inside)","func":"var maxHumidity = 65;\nvar minHumidity = 40;\nvar actual = msg.payload.humidity;\n\n//get gas boundries\nif(global.get(\"settings.maxHumidity\") === undefined)\n{\n    global.set(\"settings.maxHumidity\", maxHumidity);\n}\nelse\n{\n    maxHumidity = global.get(\"settings.maxHumidity\");\n}\n\n\nif(global.get(\"settings.minHumidity\") === undefined)\n{\n    global.set(\"settings.minHumidity\", minHumidity);\n}\nelse\n{\n    minHumidity = global.get(\"settings.minHumidity\");\n}\n\n\nif(actual > maxHumidity || actual < minHumidity)\n{\n    global.set(\"alarm.humidity_I\", true);\n    msg.payload = true;\n    return msg;\n}\nelse\n{\n    global.set(\"alarm.humidity_I\", false);\n    msg.payload = false;\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":120,"wires":[["cc32dbd1.0a5e48"]]},{"id":"24089d9f.c7eb82","type":"function","z":"2f4ec664.f9269a","name":"check humidity (outside)","func":"var maxHumidity = 65;\nvar minHumidity = 40;\nvar actual = msg.payload.humidity;\n\n//get gas boundries\nif(global.get(\"settings.maxHumidity\") === undefined)\n{\n    global.set(\"settings.maxHumidity\", maxHumidity);\n}\nelse\n{\n    maxHumidity = global.get(\"settings.maxHumidity\");\n}\n\n\nif(global.get(\"settings.minHumidity\") === undefined)\n{\n    global.set(\"settings.minHumidity\", minHumidity);\n}\nelse\n{\n    minHumidity = global.get(\"settings.minHumidity\");\n}\n\n\nif(actual > maxHumidity || actual < minHumidity)\n{\n    global.set(\"alarm.humidity_O\", true);\n    msg.payload = true;\n    return msg;\n}\nelse\n{\n    global.set(\"alarm.humidity_O\", false);\n    msg.payload = false;\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":400,"wires":[["e87dff7f.44a29"]]},{"id":"cc32dbd1.0a5e48","type":"link out","z":"2f4ec664.f9269a","name":"humidity alarm (inside)","links":["e70e5c6c.8cab9","2a553675.ca633a","fa64bf1.b3f284"],"x":995,"y":120,"wires":[]},{"id":"e87dff7f.44a29","type":"link out","z":"2f4ec664.f9269a","name":"humidity alarm (outside)","links":["ba219f19.868f8","2a553675.ca633a","c4c14cdb.14daa"],"x":1015,"y":400,"wires":[]},{"id":"25935853.e7b0b8","type":"debug","z":"dec1e0da.70948","name":"word","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"(\"Word: \" & payload)","targetType":"jsonata","statusVal":"payload","statusType":"auto","x":670,"y":220,"wires":[]},{"id":"cd3b2ac5.1232c8","type":"function","z":"dec1e0da.70948","name":"write word","func":"var word = 0;\n\nif(global.get(\"automat.word\") === undefined){\n    global.set(\"automat.word\", 0);\n}else{\n    word = global.get(\"automat.word\");\n}\n\nif(global.get(\"alarm.humidity_O\") == true){\n    word = word | 1;\n}else{\n    word = word & 254;\n}\n\nif(global.get(\"alarm.humidity_I\") == true){\n    word = word | 2;\n}else{\n    word = word & 253\n}\n\nif(global.get(\"alarm.pollenCount\") == true){\n    word = word | 4;\n}else{\n    word = word & 251\n}\n\nif(global.get(\"alarm.temperature_O\") == true){\n    word = word | 8;\n}else{\n    word = word & 247\n}\n\nif(global.get(\"alarm.temperature_I\") == true){\n    word = word | 16;\n}else{\n    word = word & 239\n}\n\nif(global.get(\"alarm.air\") == true){\n    word = word | 32;\n}else{\n    word = word & 223\n}\n\nif(global.get(\"alarm.precipitation\") == true \n&& global.get(\"settings.allowPrecipitation\") == false){\n    word = word | 64;\n}else{\n    word = word & 191\n}\n\nglobal.set(\"automat.word\", word);\nmsg.payload = word;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":160,"wires":[["25935853.e7b0b8","236affa1.28044"]]},{"id":"55820b7a.fe9904","type":"inject","z":"dec1e0da.70948","name":"run","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":340,"wires":[["f4b1367.66550c8"]]},{"id":"86ebea3d.1e23a8","type":"link in","z":"dec1e0da.70948","name":"i:6","links":["c2feee01.15244"],"x":175,"y":40,"wires":[["f4b1367.66550c8"]]},{"id":"f4b1367.66550c8","type":"delay","z":"dec1e0da.70948","name":"limit msg rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":160,"wires":[["cd3b2ac5.1232c8"]]},{"id":"bd0e3078.2e332","type":"link in","z":"dec1e0da.70948","name":"i:5","links":["a69b3fd3.d8f16"],"x":175,"y":80,"wires":[["f4b1367.66550c8"]]},{"id":"8c690d75.83bd3","type":"link in","z":"dec1e0da.70948","name":"i:4","links":["66f95393.2ab3fc"],"x":175,"y":120,"wires":[["f4b1367.66550c8"]]},{"id":"f95e5fce.a013e","type":"link in","z":"dec1e0da.70948","name":"i:3","links":["1343168b.f74959"],"x":175,"y":160,"wires":[["f4b1367.66550c8"]]},{"id":"c1b1324.64006d","type":"link in","z":"dec1e0da.70948","name":"i:2","links":["7806eee6.09cfa"],"x":175,"y":200,"wires":[["f4b1367.66550c8"]]},{"id":"e70e5c6c.8cab9","type":"link in","z":"dec1e0da.70948","name":"i:1","links":["cc32dbd1.0a5e48"],"x":175,"y":240,"wires":[["f4b1367.66550c8"]]},{"id":"ba219f19.868f8","type":"link in","z":"dec1e0da.70948","name":"i:0","links":["e87dff7f.44a29"],"x":175,"y":280,"wires":[["f4b1367.66550c8"]]},{"id":"6d2adfca.1cc39","type":"debug","z":"dec1e0da.70948","name":"next state","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"(\"next state: \" & payload)","targetType":"jsonata","statusVal":"payload","statusType":"auto","x":1120,"y":180,"wires":[]},{"id":"b6020620.634a68","type":"function","z":"dec1e0da.70948","name":"go state","func":"var state = \"empty\";\nvar word = msg.payload;\n\nvar transitionArr = global.get(\"automat.stateTransitionArray\");\n\nstate = transitionArr[word];\n\nmsg.payload = state;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":160,"wires":[["6d2adfca.1cc39","8fd78f3f.53b5b"]]},{"id":"8fd78f3f.53b5b","type":"switch","z":"dec1e0da.70948","name":"switch state","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"c","vt":"str"},{"t":"cont","v":"o","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1130,"y":140,"wires":[["53d1ba41.0cde04"],["3bd2eb19.9a7524"]]},{"id":"53d1ba41.0cde04","type":"link out","z":"dec1e0da.70948","name":"transition to close state","links":["49743c55.537cb4"],"x":1255,"y":120,"wires":[]},{"id":"3bd2eb19.9a7524","type":"link out","z":"dec1e0da.70948","name":"transition to open state","links":["70c9d86f.6f1458"],"x":1255,"y":160,"wires":[]},{"id":"b783b51f.c32978","type":"ui_chart","z":"4465dcd8.ef29d4","name":"air pollutants graph (h)","group":"de728260.58e1c","order":4,"width":"0","height":"0","label":"<i class=\"fa fa-flask\" aria-hidden=\"true\"></i> Luftschadstoffe (ppm)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#d62728","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":860,"y":420,"wires":[["310a1d7a.f373e2"]]},{"id":"20b83b6.430c8c4","type":"ui_chart","z":"4465dcd8.ef29d4","name":"air pollutants graph (d)","group":"6d6d9cb7.8580b4","order":4,"width":"0","height":"0","label":"<i class=\"fa fa-flask\" aria-hidden=\"true\"></i> Luftschadstoffe (ppm)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#d62728","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":860,"y":460,"wires":[["23eaa15d.847fae"]]},{"id":"7a49c247.bee19c","type":"switch","z":"dec1e0da.70948","name":"if automation","property":"settings.automatic","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":160,"wires":[["b6020620.634a68"]]},{"id":"c56abb8d.122718","type":"file","z":"479f4e7.777cbb","name":"write file","filename":"/home/pi/smart_home/settings.json","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":720,"y":40,"wires":[["6efe351.25a38cc"]]},{"id":"6b934605.1f10c8","type":"inject","z":"479f4e7.777cbb","name":"save settings","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"settings","payload":"","payloadType":"date","x":190,"y":160,"wires":[["1d8d0ee2.c5ad01"]]},{"id":"6efe351.25a38cc","type":"debug","z":"479f4e7.777cbb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"(\"settings saved to file!\")","targetType":"jsonata","statusVal":"payload","statusType":"auto","x":860,"y":40,"wires":[]},{"id":"1d8d0ee2.c5ad01","type":"change","z":"479f4e7.777cbb","name":"read RAM","rules":[{"t":"set","p":"payload","pt":"msg","to":"settings","tot":"global"},{"t":"set","p":"topic","pt":"msg","to":"settings saved","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":40,"wires":[["accff270.a2288"]]},{"id":"57741498.d6751c","type":"debug","z":"479f4e7.777cbb","name":"settings loaded","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"settings loaded from file!","targetType":"jsonata","statusVal":"payload","statusType":"auto","x":1140,"y":200,"wires":[]},{"id":"50151036.88493","type":"file in","z":"479f4e7.777cbb","name":"read settings.json","filename":"/home/pi/smart_home/settings.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":550,"y":160,"wires":[["4747c7cf.5c8a28"]]},{"id":"73b97cea.3d3e44","type":"inject","z":"479f4e7.777cbb","name":"load settings (on startup)","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"settings","payload":"","payloadType":"date","x":230,"y":240,"wires":[["50151036.88493"]]},{"id":"d3af03e0.334ee","type":"change","z":"479f4e7.777cbb","name":"write RAM","rules":[{"t":"set","p":"settings","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"settings loaded","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":160,"wires":[["57741498.d6751c","f65337da.7d0b38"]]},{"id":"4747c7cf.5c8a28","type":"json","z":"479f4e7.777cbb","name":"to JS-Object","property":"payload","action":"","pretty":false,"x":790,"y":160,"wires":[["d3af03e0.334ee"]]},{"id":"accff270.a2288","type":"json","z":"479f4e7.777cbb","name":"to json","property":"payload","action":"str","pretty":true,"x":590,"y":40,"wires":[["c56abb8d.122718","a12512a0.b1f8"]]},{"id":"236affa1.28044","type":"function","z":"dec1e0da.70948","name":"skip same","func":"if(flow.get(\"lastWord\") === undefined){\n    flow.set(\"lastWord\", msg.payload);\n    return msg;\n}\n\nif(msg.payload != flow.get(\"lastWord\")){\n    flow.set(\"lastWord\", msg.payload);\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":160,"wires":[["7a49c247.bee19c","bc9c4b2c.2efc98"]]},{"id":"c3d3bb2a.6cec68","type":"change","z":"4465dcd8.ef29d4","name":"save","rules":[{"t":"set","p":"settings.watchPollen","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":880,"wires":[["a69b6b02.591788","4bc27482.571e8c"]]},{"id":"d57274d.b84b188","type":"change","z":"4465dcd8.ef29d4","name":"load","rules":[{"t":"set","p":"payload","pt":"msg","to":"settings.watchPollen","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":880,"wires":[["c58791d8.08a97"]]},{"id":"f65337da.7d0b38","type":"link out","z":"479f4e7.777cbb","name":"settings loaded","links":["97e761e4.de789","65499727.c54b98","a71c5737.c83978","25228b65.eee514","9925e29f.a3423"],"x":1075,"y":160,"wires":[]},{"id":"ae9461ec.9e224","type":"link in","z":"479f4e7.777cbb","name":"save settings","links":["b10748c2.461418","17cfbdc2.41f4f2","779ea62b.38f248","a69b6b02.591788","ea7d3b53.e524e8","4705db34.73bff4"],"x":155,"y":40,"wires":[["445f33ff.d0b7bc"]]},{"id":"49acd2e.5394a2c","type":"switch","z":"2f4ec664.f9269a","name":"if enabled","property":"settings.watchPollen","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":520,"wires":[["e643a006.622c1"]]},{"id":"17cfbdc2.41f4f2","type":"link out","z":"19e5a93a.f6b177","name":"save state","links":["ae9461ec.9e224"],"x":1015,"y":340,"wires":[]},{"id":"a3bd4d39.d87c7","type":"change","z":"19e5a93a.f6b177","name":"save c","rules":[{"t":"set","p":"automat.state","pt":"global","to":"c","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":340,"wires":[["17cfbdc2.41f4f2"]]},{"id":"3e047368.63e37c","type":"change","z":"19e5a93a.f6b177","name":"save o","rules":[{"t":"set","p":"automat.state","pt":"global","to":"o","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":380,"wires":[["17cfbdc2.41f4f2"]]},{"id":"756f17ad.f78d48","type":"change","z":"19e5a93a.f6b177","name":"save -","rules":[{"t":"set","p":"automat.state","pt":"global","to":"-","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":300,"wires":[["17cfbdc2.41f4f2"]]},{"id":"baaa622c.88c2c","type":"file in","z":"479f4e7.777cbb","name":"read state transition table","filename":"/home/pi/smart_home/state-transition-table.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":570,"y":100,"wires":[["40134e9c.cbe0c"]]},{"id":"b4bcd19d.a2aa1","type":"inject","z":"479f4e7.777cbb","name":"load table (on startup)","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"file","payload":"","payloadType":"date","x":220,"y":200,"wires":[["baaa622c.88c2c"]]},{"id":"40134e9c.cbe0c","type":"function","z":"479f4e7.777cbb","name":"make input & transition table","func":"var arr = msg.payload.replace(/\\t/g, '').split(\"\\n\");\n\nvar input = [];\nvar state = [];\n\nfor(i = 1; i < (arr.length -1); i++)\n{\n    n = i - 1;\n    input[n] = arr[i].slice(0, 7);\n    state[n] = arr[i].slice(7, 9);\n}\n\nglobal.set(\"automat.inputArray\", input);\nglobal.set(\"automat.stateTransitionArray\", state);\n\n\n\nmsg.payload = [input, state];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":100,"wires":[["d6199445.96c868"]]},{"id":"d6199445.96c868","type":"debug","z":"479f4e7.777cbb","name":"alphabet ","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"(payload[0].length & \" lines read\")","targetType":"jsonata","statusVal":"","statusType":"auto","x":1040,"y":100,"wires":[]},{"id":"67b8e175.3bfcd","type":"ui_switch","z":"4465dcd8.ef29d4","name":"precipitation-switch","label":"<i class=\"fa fa-umbrella\" aria-hidden=\"true\"></i> Beim Niederschalg öffnen?","tooltip":"","group":"765ef432.ef208c","order":3,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":550,"y":1420,"wires":[["b2d8d242.3d03"]]},{"id":"b2d8d242.3d03","type":"change","z":"4465dcd8.ef29d4","name":"save","rules":[{"t":"set","p":"settings.allowPrecipitation","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1420,"wires":[["a69b6b02.591788"]]},{"id":"86e31ea7.7faaf","type":"ui_switch","z":"4465dcd8.ef29d4","name":"auto-switch","label":"<i class=\"fa fa-play-circle-o\" aria-hidden=\"true\"></i> Automatische Steuerung","tooltip":"","group":"765ef432.ef208c","order":1,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":530,"y":1480,"wires":[["94eee942.159048"]]},{"id":"94eee942.159048","type":"change","z":"4465dcd8.ef29d4","name":"save","rules":[{"t":"set","p":"settings.automatic","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1480,"wires":[["a69b6b02.591788"]]},{"id":"3462a23.946395e","type":"change","z":"4465dcd8.ef29d4","name":"load","rules":[{"t":"set","p":"payload","pt":"msg","to":"settings.automatic","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":1480,"wires":[["86e31ea7.7faaf"]]},{"id":"25228b65.eee514","type":"link in","z":"4465dcd8.ef29d4","name":"load settings","links":["f65337da.7d0b38"],"x":135,"y":1180,"wires":[["3462a23.946395e","9f34b239.7af2a","b3dfeb10.46ebd8","5d942adc.5b7474","a8234284.507ff","7ffa143c.93af9c","e355e72.5885c18","3ca6dc88.dbe6b4","6245c316.71211c","dd3accf7.e8ad8","d57274d.b84b188"]]},{"id":"a69b6b02.591788","type":"link out","z":"4465dcd8.ef29d4","name":"save pollen watch","links":["ae9461ec.9e224"],"x":855,"y":1180,"wires":[]},{"id":"9f34b239.7af2a","type":"change","z":"4465dcd8.ef29d4","name":"load","rules":[{"t":"set","p":"payload","pt":"msg","to":"settings.allowPrecipitation","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":1420,"wires":[["67b8e175.3bfcd"]]},{"id":"b3dfeb10.46ebd8","type":"change","z":"4465dcd8.ef29d4","name":"load","rules":[{"t":"set","p":"payload","pt":"msg","to":"settings.watchPollenCount.Esche","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":1360,"wires":[["dbc52f2.aa129d"]]},{"id":"5d942adc.5b7474","type":"change","z":"4465dcd8.ef29d4","name":"load","rules":[{"t":"set","p":"payload","pt":"msg","to":"settings.watchPollenCount.Roggen","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":1300,"wires":[["81788256.93d4"]]},{"id":"a8234284.507ff","type":"change","z":"4465dcd8.ef29d4","name":"load","rules":[{"t":"set","p":"payload","pt":"msg","to":"settings.watchPollenCount.Erle","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":1240,"wires":[["a7ce23df.654e8"]]},{"id":"7ffa143c.93af9c","type":"change","z":"4465dcd8.ef29d4","name":"load","rules":[{"t":"set","p":"payload","pt":"msg","to":"settings.watchPollenCount.Haselnuss","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":1180,"wires":[["d2a9accf.f7762"]]},{"id":"e355e72.5885c18","type":"change","z":"4465dcd8.ef29d4","name":"load","rules":[{"t":"set","p":"payload","pt":"msg","to":"settings.watchPollenCount.Gräser","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":1120,"wires":[["9ae12556.da4bb8"]]},{"id":"3ca6dc88.dbe6b4","type":"change","z":"4465dcd8.ef29d4","name":"load","rules":[{"t":"set","p":"payload","pt":"msg","to":"settings.watchPollenCount.Beifuß","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":1060,"wires":[["2faddcf5.043d54"]]},{"id":"6245c316.71211c","type":"change","z":"4465dcd8.ef29d4","name":"load","rules":[{"t":"set","p":"payload","pt":"msg","to":"settings.watchPollenCount.Ambrosia","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":1000,"wires":[["1e767737.232c49"]]},{"id":"dd3accf7.e8ad8","type":"change","z":"4465dcd8.ef29d4","name":"load","rules":[{"t":"set","p":"payload","pt":"msg","to":"settings.watchPollenCount.Birke","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":940,"wires":[["3d5387b2.cf6b08"]]},{"id":"dfac866b.32c258","type":"link out","z":"4465dcd8.ef29d4","name":"disable pollen","links":["7ab9bc72.3a2c44","b3656e5e.134dc"],"x":995,"y":820,"wires":[]},{"id":"7ab9bc72.3a2c44","type":"link in","z":"4465dcd8.ef29d4","name":"disable pollen","links":["dfac866b.32c258"],"x":375,"y":1160,"wires":[["d2a9accf.f7762","9ae12556.da4bb8","2faddcf5.043d54","1e767737.232c49","3d5387b2.cf6b08","a7ce23df.654e8","81788256.93d4","dbc52f2.aa129d"]]},{"id":"b3656e5e.134dc","type":"link in","z":"4465dcd8.ef29d4","name":"disable pollen","links":["dfac866b.32c258"],"x":75,"y":720,"wires":[["f0f454d3.259ff8"]]},{"id":"445f33ff.d0b7bc","type":"trigger","z":"479f4e7.777cbb","name":"only last msg","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"5","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":270,"y":40,"wires":[["1d8d0ee2.c5ad01"]]},{"id":"bc9c4b2c.2efc98","type":"debug","z":"dec1e0da.70948","name":"new word","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"(\"new word: \" & payload)","targetType":"jsonata","statusVal":"payload","statusType":"auto","x":840,"y":220,"wires":[]},{"id":"ab197573.041138","type":"ui_slider","z":"4465dcd8.ef29d4","name":"window-slider","label":"","tooltip":"","group":"8c46ea3e.c28938","order":2,"width":"6","height":"1","passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":"1","x":280,"y":1700,"wires":[["8286897e.a543d8","a929a0d6.c386f"]]},{"id":"4064ce40.c271e","type":"ui_button","z":"4465dcd8.ef29d4","name":"open window","group":"8c46ea3e.c28938","order":1,"width":"3","height":"1","passthru":false,"label":"Öffnen","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"state\": \"CLOSE\"}","payloadType":"json","topic":"zigbee2mqtt/curtain_switch/set","topicType":"str","x":270,"y":1660,"wires":[["a68a366b.be0e48","a929a0d6.c386f"]]},{"id":"cb990e41.fde8a","type":"ui_button","z":"4465dcd8.ef29d4","name":"close window","group":"8c46ea3e.c28938","order":3,"width":"3","height":"1","passthru":false,"label":"Schließen","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"state\": \"OPEN\"}","payloadType":"json","topic":"zigbee2mqtt/curtain_switch/set","topicType":"str","x":270,"y":1620,"wires":[["11bebacb.572b95","a929a0d6.c386f"]]},{"id":"f60c7cfb.ede5e","type":"link in","z":"4465dcd8.ef29d4","name":"get window position","links":["259b896d.d74986"],"x":155,"y":1700,"wires":[["ab197573.041138"]]},{"id":"8286897e.a543d8","type":"link out","z":"4465dcd8.ef29d4","name":"set window position","links":["274c53a3.b9af5c"],"x":495,"y":1700,"wires":[]},{"id":"11bebacb.572b95","type":"link out","z":"4465dcd8.ef29d4","name":"close window","links":["49743c55.537cb4"],"x":495,"y":1620,"wires":[]},{"id":"a68a366b.be0e48","type":"link out","z":"4465dcd8.ef29d4","name":"open window","links":["70c9d86f.6f1458"],"x":495,"y":1660,"wires":[]},{"id":"a929a0d6.c386f","type":"change","z":"4465dcd8.ef29d4","name":"diable automatic","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1560,"wires":[["86e31ea7.7faaf"]]},{"id":"c74009e1.3cd188","type":"ui_numeric","z":"4465dcd8.ef29d4","name":"max temperatur","label":"<i class=\"fa fa-thermometer-full\" aria-hidden=\"true\"></i> Maximale Temperatur:","tooltip":"","group":"765ef432.ef208c","order":6,"width":"6","height":"1","wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}}°C","min":"-20","max":"85","step":1,"x":500,"y":1980,"wires":[["cbf24c96.de303","c6572e37.73072"]]},{"id":"d738e316.0ebcd","type":"ui_numeric","z":"4465dcd8.ef29d4","name":"min temperatur","label":"<i class=\"fa fa-thermometer-empty\" aria-hidden=\"true\"></i> Minimale Temperatur:","tooltip":"","group":"765ef432.ef208c","order":5,"width":"6","height":"1","wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}}°C","min":"-20","max":"85","step":1,"x":500,"y":2060,"wires":[["a90d0b8d.8d31f8","9756ca85.5564b8"]]},{"id":"cbf24c96.de303","type":"change","z":"4465dcd8.ef29d4","name":"save","rules":[{"t":"set","p":"settings.maxTemperature","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1980,"wires":[["ea7d3b53.e524e8"]]},{"id":"c6572e37.73072","type":"change","z":"4465dcd8.ef29d4","name":"set max to ui","rules":[{"t":"set","p":"ui_control.max","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":2020,"wires":[["d738e316.0ebcd"]]},{"id":"ea7d3b53.e524e8","type":"link out","z":"4465dcd8.ef29d4","name":"save pollen watch","links":["ae9461ec.9e224"],"x":855,"y":2120,"wires":[]},{"id":"a90d0b8d.8d31f8","type":"change","z":"4465dcd8.ef29d4","name":"set min to ui","rules":[{"t":"set","p":"ui_control.min","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1920,"wires":[["c74009e1.3cd188"]]},{"id":"9756ca85.5564b8","type":"change","z":"4465dcd8.ef29d4","name":"save","rules":[{"t":"set","p":"settings.minTemperature","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":2060,"wires":[["ea7d3b53.e524e8"]]},{"id":"5ee98a87.b466d4","type":"ui_numeric","z":"4465dcd8.ef29d4","name":"max precipitation","label":"<i class=\"fa fa-umbrella\" aria-hidden=\"true\"></i> Erlaubte Menge:","tooltip":"","group":"765ef432.ef208c","order":4,"width":"6","height":"1","wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}} l/m²","min":"0","max":"100","step":"0.1","x":510,"y":2120,"wires":[["81fe6580.9b5478"]]},{"id":"81fe6580.9b5478","type":"change","z":"4465dcd8.ef29d4","name":"save","rules":[{"t":"set","p":"settings.maxPrecipitation","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":2120,"wires":[["ea7d3b53.e524e8"]]},{"id":"24ea72e3.4e6dbe","type":"ui_numeric","z":"4465dcd8.ef29d4","name":"max humidity","label":"<i class=\"fa fa-tint\" aria-hidden=\"true\"></i> Maximale Feuchtigkeit:","tooltip":"","group":"765ef432.ef208c","order":8,"width":"6","height":"1","wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}}%","min":"0","max":"100","step":1,"x":490,"y":1780,"wires":[["71aaea7b.858474","b061426.24b18c"]]},{"id":"683b295f.cf9fc8","type":"ui_numeric","z":"4465dcd8.ef29d4","name":"min humidity","label":"<i class=\"fa fa-tint\" aria-hidden=\"true\"></i> Minimale Feuchtigkeit:","tooltip":"","group":"765ef432.ef208c","order":7,"width":"6","height":"1","wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}}%","min":"0","max":"100","step":1,"x":490,"y":1880,"wires":[["e2e18f30.b7b6e","dd077e69.e41be"]]},{"id":"71aaea7b.858474","type":"change","z":"4465dcd8.ef29d4","name":"save","rules":[{"t":"set","p":"settings.maxHumidity","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1780,"wires":[["ea7d3b53.e524e8"]]},{"id":"b061426.24b18c","type":"change","z":"4465dcd8.ef29d4","name":"set max to ui","rules":[{"t":"set","p":"ui_control.max","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1820,"wires":[["683b295f.cf9fc8"]]},{"id":"e2e18f30.b7b6e","type":"change","z":"4465dcd8.ef29d4","name":"set min to ui","rules":[{"t":"set","p":"ui_control.min","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1740,"wires":[["24ea72e3.4e6dbe"]]},{"id":"dd077e69.e41be","type":"change","z":"4465dcd8.ef29d4","name":"save","rules":[{"t":"set","p":"settings.minHumidity","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1880,"wires":[["ea7d3b53.e524e8"]]},{"id":"cb64fc0.c0baa08","type":"ui_numeric","z":"4465dcd8.ef29d4","name":"max co2","label":"<i class=\"fa fa-car\" aria-hidden=\"true\"></i> CO2 Grenzwert:","tooltip":"","group":"765ef432.ef208c","order":11,"width":"6","height":"1","wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}} ppm","min":"0","max":"1000","step":"5","x":480,"y":2180,"wires":[["7b8cd111.8c3f1"]]},{"id":"7b8cd111.8c3f1","type":"change","z":"4465dcd8.ef29d4","name":"save","rules":[{"t":"set","p":"settings.maxCO2","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":2180,"wires":[["ea7d3b53.e524e8"]]},{"id":"1e9701f4.27e08e","type":"ui_numeric","z":"4465dcd8.ef29d4","name":"max voc","label":"<i class=\"fa fa-flask\" aria-hidden=\"true\"></i> Organische Gase Grenzwert (VOC):","tooltip":"","group":"765ef432.ef208c","order":9,"width":"6","height":"1","wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}} ppm","min":"0","max":"100","step":"0.1","x":480,"y":2240,"wires":[["a1c7af5c.e7bbc"]]},{"id":"a1c7af5c.e7bbc","type":"change","z":"4465dcd8.ef29d4","name":"save","rules":[{"t":"set","p":"settings.maxVOC","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":2240,"wires":[["ea7d3b53.e524e8"]]},{"id":"fa5ab0ee.76c67","type":"ui_numeric","z":"4465dcd8.ef29d4","name":"max formaldehyd","label":"<i class=\"fa fa-flask\" aria-hidden=\"true\"></i> Reizende Gase Grenzwert (Formaldehyd):","tooltip":"","group":"765ef432.ef208c","order":10,"width":"6","height":"1","wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}} ppm","min":"0","max":"10","step":"0.1","x":510,"y":2300,"wires":[["9441c4ed.abdd88"]]},{"id":"9441c4ed.abdd88","type":"change","z":"4465dcd8.ef29d4","name":"save","rules":[{"t":"set","p":"settings.maxFormaldehyd","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":2300,"wires":[["ea7d3b53.e524e8"]]},{"id":"f169dc24.0ce21","type":"ui_switch","z":"4465dcd8.ef29d4","name":"accessibility-switch","label":"<i class=\"fa fa-universal-access\" aria-hidden=\"true\"></i> Barrierefreie Ausgabe?","tooltip":"","group":"765ef432.ef208c","order":2,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":510,"y":2360,"wires":[["b7124c63.06ccc"]]},{"id":"b7124c63.06ccc","type":"change","z":"4465dcd8.ef29d4","name":"save","rules":[{"t":"set","p":"settings.output","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":2360,"wires":[["ea7d3b53.e524e8","241a53ac.adf0cc"]]},{"id":"abc2b71e.0ad188","type":"change","z":"4465dcd8.ef29d4","name":"load","rules":[{"t":"set","p":"payload","pt":"msg","to":"settings.maxPrecipitation","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":2120,"wires":[["5ee98a87.b466d4"]]},{"id":"9925e29f.a3423","type":"link in","z":"4465dcd8.ef29d4","name":"load settings","links":["f65337da.7d0b38"],"x":175,"y":2120,"wires":[["abc2b71e.0ad188","39fde534.d9a02a","da25e700.8ca9f8","4a5375f4.6fc78c","be5188de.931e98","6aefa84f.27fdb8","d0e1292a.3691b8","c055192d.baa9f8","dc861476.75c958"]]},{"id":"39fde534.d9a02a","type":"change","z":"4465dcd8.ef29d4","name":"load","rules":[{"t":"set","p":"payload","pt":"msg","to":"settings.maxHumidity","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1780,"wires":[["24ea72e3.4e6dbe"]]},{"id":"da25e700.8ca9f8","type":"change","z":"4465dcd8.ef29d4","name":"load","rules":[{"t":"set","p":"payload","pt":"msg","to":"settings.minHumidity","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1880,"wires":[["683b295f.cf9fc8"]]},{"id":"4a5375f4.6fc78c","type":"change","z":"4465dcd8.ef29d4","name":"load","rules":[{"t":"set","p":"payload","pt":"msg","to":"settings.maxTemperature","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1980,"wires":[["c74009e1.3cd188"]]},{"id":"be5188de.931e98","type":"change","z":"4465dcd8.ef29d4","name":"load","rules":[{"t":"set","p":"payload","pt":"msg","to":"settings.minTemperature","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":2060,"wires":[["d738e316.0ebcd"]]},{"id":"6aefa84f.27fdb8","type":"change","z":"4465dcd8.ef29d4","name":"load","rules":[{"t":"set","p":"payload","pt":"msg","to":"settings.maxCO2","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":2180,"wires":[["cb64fc0.c0baa08"]]},{"id":"d0e1292a.3691b8","type":"change","z":"4465dcd8.ef29d4","name":"load","rules":[{"t":"set","p":"payload","pt":"msg","to":"settings.maxVOC","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":2240,"wires":[["1e9701f4.27e08e"]]},{"id":"c055192d.baa9f8","type":"change","z":"4465dcd8.ef29d4","name":"load","rules":[{"t":"set","p":"payload","pt":"msg","to":"settings.maxFormaldehyd","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":2300,"wires":[["fa5ab0ee.76c67"]]},{"id":"dc861476.75c958","type":"change","z":"4465dcd8.ef29d4","name":"load","rules":[{"t":"set","p":"payload","pt":"msg","to":"settings.output","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":2360,"wires":[["f169dc24.0ce21"]]},{"id":"112e6b37.b61e45","type":"link out","z":"4465dcd8.ef29d4","name":"save humidity (last day)","links":["5e651ec.a44bee"],"x":1015,"y":260,"wires":[]},{"id":"5b60da6.bfe4124","type":"link out","z":"4465dcd8.ef29d4","name":"save humidity (last hour)","links":["9cdfb830.539378"],"x":1015,"y":220,"wires":[]},{"id":"8f7570e3.8f991","type":"link out","z":"4465dcd8.ef29d4","name":"save temperature (last day)","links":["90d190cb.ad663"],"x":1015,"y":180,"wires":[]},{"id":"2cba24d.90e8cdc","type":"link out","z":"4465dcd8.ef29d4","name":"save air (last day)","links":["67d29fa0.df0d4"],"x":1015,"y":340,"wires":[]},{"id":"23eaa15d.847fae","type":"link out","z":"4465dcd8.ef29d4","name":"save pollutants (last day)","links":["a59e6f76.4056d"],"x":1015,"y":460,"wires":[]},{"id":"a1728c5e.a2048","type":"link out","z":"4465dcd8.ef29d4","name":"save temperature (last hour)","links":["bc17a30a.a1219"],"x":1015,"y":140,"wires":[]},{"id":"310a1d7a.f373e2","type":"link out","z":"4465dcd8.ef29d4","name":"save pollutants (last hour)","links":["48b6236e.47919c"],"x":1015,"y":420,"wires":[]},{"id":"25feb0f8.623ac","type":"link out","z":"4465dcd8.ef29d4","name":"save air (last hour)","links":["5da9b484.0f77dc"],"x":1015,"y":300,"wires":[]},{"id":"90d190cb.ad663","type":"link in","z":"479f4e7.777cbb","name":"temp (d)","links":["8f7570e3.8f991"],"x":155,"y":580,"wires":[["76023643.7958d8"]]},{"id":"a342690c.c5e3d8","type":"json","z":"479f4e7.777cbb","name":"to json","property":"payload","action":"str","pretty":true,"x":390,"y":580,"wires":[["1cf90553.926feb"]]},{"id":"76023643.7958d8","type":"trigger","z":"479f4e7.777cbb","name":"every min","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"30","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":260,"y":580,"wires":[["a342690c.c5e3d8"]]},{"id":"1cf90553.926feb","type":"file","z":"479f4e7.777cbb","name":"write temperatur_day.json","filename":"/home/pi/smart_home/data/temperatur_day.json","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":570,"y":580,"wires":[["5bf5b689.522048"]]},{"id":"bc17a30a.a1219","type":"link in","z":"479f4e7.777cbb","name":"temp (h)","links":["a1728c5e.a2048"],"x":155,"y":620,"wires":[["e0d8f87a.d85118"]]},{"id":"6193a0a5.782dc","type":"json","z":"479f4e7.777cbb","name":"to json","property":"payload","action":"str","pretty":true,"x":390,"y":620,"wires":[["81056201.1bef2"]]},{"id":"e0d8f87a.d85118","type":"trigger","z":"479f4e7.777cbb","name":"every min","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"30","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":260,"y":620,"wires":[["6193a0a5.782dc"]]},{"id":"81056201.1bef2","type":"file","z":"479f4e7.777cbb","name":"write temperature_hour.json","filename":"/home/pi/smart_home/data/temperature_hour.json","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":580,"y":620,"wires":[["716406e5.6cacf8"]]},{"id":"5bf5b689.522048","type":"debug","z":"479f4e7.777cbb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"(\"Temperature data (last day) saved\")","targetType":"jsonata","statusVal":"","statusType":"auto","x":780,"y":580,"wires":[]},{"id":"716406e5.6cacf8","type":"debug","z":"479f4e7.777cbb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"(\"Temperature data (last hour) saved\")","targetType":"jsonata","statusVal":"","statusType":"auto","x":780,"y":620,"wires":[]},{"id":"5e651ec.a44bee","type":"link in","z":"479f4e7.777cbb","name":"hum (d)","links":["112e6b37.b61e45"],"x":155,"y":660,"wires":[["761b4de9.fad8b4"]]},{"id":"87452777.08b3f8","type":"json","z":"479f4e7.777cbb","name":"to json","property":"payload","action":"str","pretty":true,"x":390,"y":660,"wires":[["deb8765f.ee1068"]]},{"id":"761b4de9.fad8b4","type":"trigger","z":"479f4e7.777cbb","name":"every min","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"30","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":260,"y":660,"wires":[["87452777.08b3f8"]]},{"id":"deb8765f.ee1068","type":"file","z":"479f4e7.777cbb","name":"write humidity_day.json","filename":"/home/pi/smart_home/data/humidity_day.json","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":570,"y":660,"wires":[["ae58b45.82e3948"]]},{"id":"ae58b45.82e3948","type":"debug","z":"479f4e7.777cbb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"(\"Humidity data (last day) saved\")","targetType":"jsonata","statusVal":"","statusType":"auto","x":780,"y":660,"wires":[]},{"id":"9cdfb830.539378","type":"link in","z":"479f4e7.777cbb","name":"hum (h)","links":["5b60da6.bfe4124"],"x":155,"y":700,"wires":[["7b81c9db.bdc958"]]},{"id":"ac29f6e.d7f6208","type":"json","z":"479f4e7.777cbb","name":"to json","property":"payload","action":"str","pretty":true,"x":390,"y":700,"wires":[["238e2ca6.76f724"]]},{"id":"7b81c9db.bdc958","type":"trigger","z":"479f4e7.777cbb","name":"every min","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"30","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":260,"y":700,"wires":[["ac29f6e.d7f6208"]]},{"id":"238e2ca6.76f724","type":"file","z":"479f4e7.777cbb","name":"write humidity_hour.json","filename":"/home/pi/smart_home/data/humidity_hour.json","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":570,"y":700,"wires":[["828637b5.917748"]]},{"id":"828637b5.917748","type":"debug","z":"479f4e7.777cbb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"(\"Humidity data (last hour) saved\")","targetType":"jsonata","statusVal":"","statusType":"auto","x":780,"y":700,"wires":[]},{"id":"67d29fa0.df0d4","type":"link in","z":"479f4e7.777cbb","name":"co2 (d)","links":["2cba24d.90e8cdc"],"x":155,"y":740,"wires":[["21a13136.4cf08e"]]},{"id":"dcc4bbcd.4343a8","type":"json","z":"479f4e7.777cbb","name":"to json","property":"payload","action":"str","pretty":true,"x":390,"y":740,"wires":[["fec74e07.46ad3"]]},{"id":"21a13136.4cf08e","type":"trigger","z":"479f4e7.777cbb","name":"every min","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"30","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":260,"y":740,"wires":[["dcc4bbcd.4343a8"]]},{"id":"fec74e07.46ad3","type":"file","z":"479f4e7.777cbb","name":"write co2_day.json","filename":"/home/pi/smart_home/data/co2_day.json","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":550,"y":740,"wires":[["e2d8647b.9a1118"]]},{"id":"e2d8647b.9a1118","type":"debug","z":"479f4e7.777cbb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"(\"CO2 data (last day) saved\")","targetType":"jsonata","statusVal":"","statusType":"auto","x":780,"y":740,"wires":[]},{"id":"5da9b484.0f77dc","type":"link in","z":"479f4e7.777cbb","name":"co2 (h)","links":["25feb0f8.623ac"],"x":155,"y":780,"wires":[["b8830e92.42113"]]},{"id":"add78825.9e3758","type":"json","z":"479f4e7.777cbb","name":"to json","property":"payload","action":"str","pretty":true,"x":390,"y":780,"wires":[["56952c88.2cac34"]]},{"id":"b8830e92.42113","type":"trigger","z":"479f4e7.777cbb","name":"every min","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"30","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":260,"y":780,"wires":[["add78825.9e3758"]]},{"id":"56952c88.2cac34","type":"file","z":"479f4e7.777cbb","name":"write co2_hour.json","filename":"/home/pi/smart_home/data/co2_hour.json","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":550,"y":780,"wires":[["f6b99831.68e0d8"]]},{"id":"f6b99831.68e0d8","type":"debug","z":"479f4e7.777cbb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"(\"CO2 data (last hour) saved\")","targetType":"jsonata","statusVal":"","statusType":"auto","x":780,"y":780,"wires":[]},{"id":"a59e6f76.4056d","type":"link in","z":"479f4e7.777cbb","name":"poll (d)","links":["23eaa15d.847fae"],"x":155,"y":820,"wires":[["57359f6c.52a63"]]},{"id":"477f6c96.e33574","type":"json","z":"479f4e7.777cbb","name":"to json","property":"payload","action":"str","pretty":true,"x":390,"y":820,"wires":[["6be18cf7.eb0ce4"]]},{"id":"57359f6c.52a63","type":"trigger","z":"479f4e7.777cbb","name":"every min","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"30","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":260,"y":820,"wires":[["477f6c96.e33574"]]},{"id":"6be18cf7.eb0ce4","type":"file","z":"479f4e7.777cbb","name":"write pollutants_day.json","filename":"/home/pi/smart_home/data/pollutants_day.json","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":570,"y":820,"wires":[["ec271da1.f9f97"]]},{"id":"ec271da1.f9f97","type":"debug","z":"479f4e7.777cbb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"(\"Pollutants data (last day) saved\")","targetType":"jsonata","statusVal":"","statusType":"auto","x":780,"y":820,"wires":[]},{"id":"48b6236e.47919c","type":"link in","z":"479f4e7.777cbb","name":"poll (h)","links":["310a1d7a.f373e2"],"x":155,"y":860,"wires":[["645c6dd4.44b1a4"]]},{"id":"c53e8f42.54c8c","type":"json","z":"479f4e7.777cbb","name":"to json","property":"payload","action":"str","pretty":true,"x":390,"y":860,"wires":[["f95355e.df798a8"]]},{"id":"645c6dd4.44b1a4","type":"trigger","z":"479f4e7.777cbb","name":"every min","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"30","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":260,"y":860,"wires":[["c53e8f42.54c8c"]]},{"id":"f95355e.df798a8","type":"file","z":"479f4e7.777cbb","name":"write pollutants_hour.json","filename":"/home/pi/smart_home/data/pollutants_hour.json","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":570,"y":860,"wires":[["9ea791eb.3f517"]]},{"id":"9ea791eb.3f517","type":"debug","z":"479f4e7.777cbb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"(\"Pollutants data (last hour) saved\")","targetType":"jsonata","statusVal":"","statusType":"auto","x":780,"y":860,"wires":[]},{"id":"9f59f00.98fd61","type":"inject","z":"479f4e7.777cbb","name":"load data (on startup)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"4.0","topic":"","payload":"","payloadType":"date","x":220,"y":280,"wires":[["8c5efcbe.43dc9","bed1edd9.115d7","b6d40c55.cca91","46ea23d6.bf026c","c6099c31.25d79","27b64304.1dcdfc","4a7f7edd.74ab5","4a28184.03e46e8"]]},{"id":"8c5efcbe.43dc9","type":"file in","z":"479f4e7.777cbb","name":"read temperatur_day.json","filename":"/home/pi/smart_home/data/temperatur_day.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":570,"y":240,"wires":[["6f33164c.9c96b8"]]},{"id":"6f33164c.9c96b8","type":"json","z":"479f4e7.777cbb","name":"to JS-Object","property":"payload","action":"","pretty":false,"x":790,"y":240,"wires":[["d40848fc.d23a18"]]},{"id":"d40848fc.d23a18","type":"link out","z":"479f4e7.777cbb","name":"restore temp (day)","links":["bd42589d.fca648"],"x":895,"y":240,"wires":[]},{"id":"1bac7ae0.8c7375","type":"link in","z":"4465dcd8.ef29d4","name":"load temp (h)","links":["2b825c66.f0f514"],"x":715,"y":120,"wires":[["ced3422e.80701"]]},{"id":"bed1edd9.115d7","type":"file in","z":"479f4e7.777cbb","name":"read temperature_hour.json","filename":"/home/pi/smart_home/data/temperature_hour.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":580,"y":280,"wires":[["a65d866f.59f828"]]},{"id":"a65d866f.59f828","type":"json","z":"479f4e7.777cbb","name":"to JS-Object","property":"payload","action":"","pretty":false,"x":790,"y":280,"wires":[["2b825c66.f0f514"]]},{"id":"2b825c66.f0f514","type":"link out","z":"479f4e7.777cbb","name":"restore temp (hour)","links":["1bac7ae0.8c7375"],"x":895,"y":280,"wires":[]},{"id":"b6d40c55.cca91","type":"file in","z":"479f4e7.777cbb","name":"read humidity_day.json","filename":"/home/pi/smart_home/data/humidity_day.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":560,"y":320,"wires":[["620e76a9.cc78f8"]]},{"id":"620e76a9.cc78f8","type":"json","z":"479f4e7.777cbb","name":"to JS-Object","property":"payload","action":"","pretty":false,"x":790,"y":320,"wires":[["493f813c.81e3e"]]},{"id":"493f813c.81e3e","type":"link out","z":"479f4e7.777cbb","name":"restore hum (day)","links":["1ff43a55.8bb256"],"x":895,"y":320,"wires":[]},{"id":"46ea23d6.bf026c","type":"file in","z":"479f4e7.777cbb","name":"read humidity_hour.json","filename":"/home/pi/smart_home/data/humidity_hour.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":570,"y":360,"wires":[["b8b3d211.8230e"]]},{"id":"b8b3d211.8230e","type":"json","z":"479f4e7.777cbb","name":"to JS-Object","property":"payload","action":"","pretty":false,"x":790,"y":360,"wires":[["e2101e1.e2fd3e"]]},{"id":"e2101e1.e2fd3e","type":"link out","z":"479f4e7.777cbb","name":"restore hum (hour)","links":["269d3e5f.9f22f2"],"x":895,"y":360,"wires":[]},{"id":"c6099c31.25d79","type":"file in","z":"479f4e7.777cbb","name":"read co2_day.json","filename":"/home/pi/smart_home/data/co2_day.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":550,"y":400,"wires":[["d046f5d1.e5fbd8"]]},{"id":"d046f5d1.e5fbd8","type":"json","z":"479f4e7.777cbb","name":"to JS-Object","property":"payload","action":"","pretty":false,"x":790,"y":400,"wires":[["963ed101.4d291"]]},{"id":"963ed101.4d291","type":"link out","z":"479f4e7.777cbb","name":"restore co2 (day)","links":["99b7fb.6bbd5808"],"x":895,"y":400,"wires":[]},{"id":"27b64304.1dcdfc","type":"file in","z":"479f4e7.777cbb","name":"read co2_hour.json","filename":"/home/pi/smart_home/data/co2_hour.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":550,"y":440,"wires":[["ecf98e9.da6497"]]},{"id":"ecf98e9.da6497","type":"json","z":"479f4e7.777cbb","name":"to JS-Object","property":"payload","action":"","pretty":false,"x":790,"y":440,"wires":[["8d65f148.ab164"]]},{"id":"8d65f148.ab164","type":"link out","z":"479f4e7.777cbb","name":"restore co2 (hour)","links":["1166288.14f26d8"],"x":895,"y":440,"wires":[]},{"id":"4a7f7edd.74ab5","type":"file in","z":"479f4e7.777cbb","name":"read pollutants_day.json","filename":"/home/pi/smart_home/data/pollutants_day.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":570,"y":480,"wires":[["99a69e87.91d67"]]},{"id":"99a69e87.91d67","type":"json","z":"479f4e7.777cbb","name":"to JS-Object","property":"payload","action":"","pretty":false,"x":790,"y":480,"wires":[["80b96b63.2b67d8"]]},{"id":"80b96b63.2b67d8","type":"link out","z":"479f4e7.777cbb","name":"restore poll (day)","links":["2c45b1a5.03feee"],"x":895,"y":480,"wires":[]},{"id":"4a28184.03e46e8","type":"file in","z":"479f4e7.777cbb","name":"read pollutants_hour.json","filename":"/home/pi/smart_home/data/pollutants_hour.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":570,"y":520,"wires":[["d73054a8.be54b8"]]},{"id":"d73054a8.be54b8","type":"json","z":"479f4e7.777cbb","name":"to JS-Object","property":"payload","action":"","pretty":false,"x":790,"y":520,"wires":[["e83f4277.73be"]]},{"id":"e83f4277.73be","type":"link out","z":"479f4e7.777cbb","name":"restore poll (hour)","links":["acafee30.c832e"],"x":895,"y":520,"wires":[]},{"id":"bd42589d.fca648","type":"link in","z":"4465dcd8.ef29d4","name":"load temp (d)","links":["d40848fc.d23a18"],"x":715,"y":160,"wires":[["fa366900.5f0358"]]},{"id":"269d3e5f.9f22f2","type":"link in","z":"4465dcd8.ef29d4","name":"load hum (h)","links":["e2101e1.e2fd3e"],"x":715,"y":200,"wires":[["f6e96e65.00b48"]]},{"id":"1ff43a55.8bb256","type":"link in","z":"4465dcd8.ef29d4","name":"load hum (d)","links":["493f813c.81e3e"],"x":715,"y":240,"wires":[["6c44b517.0c0f9c"]]},{"id":"1166288.14f26d8","type":"link in","z":"4465dcd8.ef29d4","name":"load co2 (h)","links":["8d65f148.ab164"],"x":715,"y":280,"wires":[["2264932b.9753bc"]]},{"id":"99b7fb.6bbd5808","type":"link in","z":"4465dcd8.ef29d4","name":"load co2 (d)","links":["963ed101.4d291"],"x":715,"y":320,"wires":[["8dfb3f27.049b4"]]},{"id":"2c45b1a5.03feee","type":"link in","z":"4465dcd8.ef29d4","name":"load poll (d)","links":["80b96b63.2b67d8"],"x":715,"y":480,"wires":[["20b83b6.430c8c4"]]},{"id":"acafee30.c832e","type":"link in","z":"4465dcd8.ef29d4","name":"load poll (h)","links":["e83f4277.73be"],"x":715,"y":440,"wires":[["b783b51f.c32978"]]},{"id":"2a553675.ca633a","type":"link in","z":"4465dcd8.ef29d4","name":"","links":["1343168b.f74959","66f95393.2ab3fc","7806eee6.09cfa","a69b3fd3.d8f16","c2feee01.15244","cc32dbd1.0a5e48","e87dff7f.44a29"],"x":1015,"y":640,"wires":[["2bb18de7.0da2e2"]]},{"id":"92637f17.550da","type":"ui_text","z":"4465dcd8.ef29d4","group":"7b30ed62.ff6904","order":1,"width":"10","height":"2","name":"status","label":"","format":"{{msg.payload}}","layout":"row-center","x":1330,"y":640,"wires":[]},{"id":"2bb18de7.0da2e2","type":"function","z":"4465dcd8.ef29d4","name":"","func":"var word =  global.get(\"automat.word\");\nvar state = global.get(\"automat.state\");\n\nif(state === \"c\"){\n    state = \"geschlossen\";\n}\nelse{\n    state = \"offen\";\n}\n \nvar text = \"Zustand:[#\" + word + \"] Fenster:[\" + state + \"]\";\n\nvar alarm = global.get(\"alarm\");\n\nif(alarm.temperature_I){\n    text = text + \"<br>Im Zimmer ist es zu heiß!\";\n}\n\nif(alarm.humidity_I){\n    text = text + \" <br>Im Zimmer ist es zu feucht!\";\n}\n\nif(alarm.air){\n    text = text + \"<br>Im Zimmer ist schlechte Luft!\";\n}\n\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":640,"wires":[["92637f17.550da"]]},{"id":"8eeda8f4.f670a8","type":"link in","z":"19e5a93a.f6b177","name":"i:5","links":["a69b3fd3.d8f16"],"x":155,"y":740,"wires":[["8aaa4769.a54688"]]},{"id":"f5392ed5.59249","type":"link in","z":"19e5a93a.f6b177","name":"i:4","links":["66f95393.2ab3fc"],"x":155,"y":780,"wires":[["8aaa4769.a54688"]]},{"id":"fa64bf1.b3f284","type":"link in","z":"19e5a93a.f6b177","name":"i:1","links":["cc32dbd1.0a5e48"],"x":155,"y":820,"wires":[["8aaa4769.a54688"]]},{"id":"8aaa4769.a54688","type":"join","z":"19e5a93a.f6b177","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":290,"y":780,"wires":[["d78d206a.92437"]]},{"id":"803f563f.b61e28","type":"switch","z":"19e5a93a.f6b177","name":"if alarm inside","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":780,"wires":[["90eac13.929214","c809cdbb.44455"],["d942e56f.5d8cb8","184c7cde.e42e13"]]},{"id":"d78d206a.92437","type":"switch","z":"19e5a93a.f6b177","name":"if enabled","property":"settings.output","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":780,"wires":[["803f563f.b61e28"]]},{"id":"241a53ac.adf0cc","type":"link out","z":"4465dcd8.ef29d4","name":"output state","links":["e027331d.958dd"],"x":845,"y":2360,"wires":[]},{"id":"90eac13.929214","type":"zigbee2mqtt-out","z":"19e5a93a.f6b177","name":"red","server":"9ab772ac.d1d46","friendly_name":"philips_hue","device_id":"0x00178801043cafe3","command":"color","commandType":"z2m_cmd","payload":"{\"r\":255, \"g\":0, \"b\":0}","payloadType":"json","transition":0,"x":810,"y":760,"wires":[]},{"id":"e7bd1068.afd3d","type":"zigbee2mqtt-out","z":"19e5a93a.f6b177","name":"on","server":"9ab772ac.d1d46","friendly_name":"philips_hue","device_id":"0x00178801043cafe3","command":"state","commandType":"z2m_cmd","payload":"on","payloadType":"z2m_payload","transition":0,"x":390,"y":640,"wires":[]},{"id":"d942e56f.5d8cb8","type":"zigbee2mqtt-out","z":"19e5a93a.f6b177","name":"green","server":"9ab772ac.d1d46","friendly_name":"philips_hue","device_id":"0x00178801043cafe3","command":"color","commandType":"z2m_cmd","payload":"{\"r\":0, \"g\":255, \"b\":0}","payloadType":"json","transition":0,"x":810,"y":800,"wires":[]},{"id":"e027331d.958dd","type":"link in","z":"19e5a93a.f6b177","name":"LED state","links":["241a53ac.adf0cc"],"x":155,"y":660,"wires":[["2818f42e.e06adc"]]},{"id":"2818f42e.e06adc","type":"switch","z":"19e5a93a.f6b177","name":"of / off","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":660,"wires":[["e7bd1068.afd3d"],["d4dab74b.6b2a48"]]},{"id":"d4dab74b.6b2a48","type":"zigbee2mqtt-out","z":"19e5a93a.f6b177","name":"off","server":"9ab772ac.d1d46","friendly_name":"philips_hue","device_id":"0x00178801043cafe3","command":"state","commandType":"z2m_cmd","payload":"off","payloadType":"z2m_payload","transition":0,"x":390,"y":680,"wires":[]},{"id":"d52e1104.a21f3","type":"change","z":"2f4ec664.f9269a","name":"save expectedPrecipitation","rules":[{"t":"set","p":"expectedPrecipitation","pt":"global","to":"payload.precipitation","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":260,"wires":[["38b3654b.15a79a"]]},{"id":"49c36158.fe2c5","type":"debug","z":"2f4ec664.f9269a","name":"expected precipitation","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"(\"expected precipitation: \" & payload.precipitation)","targetType":"jsonata","statusVal":"precipitation","statusType":"auto","x":1280,"y":320,"wires":[]},{"id":"38b3654b.15a79a","type":"switch","z":"2f4ec664.f9269a","name":"> 0","property":"payload.precipitation","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1090,"y":260,"wires":[["49c36158.fe2c5"]]},{"id":"509b25fb.cce0fc","type":"switch","z":"19e5a93a.f6b177","name":"if enabled","property":"settings.output","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1040,"y":480,"wires":[["df6bf17a.23313","5308ce6c.9cd"]]},{"id":"39f61c61.e7ce64","type":"trigger","z":"19e5a93a.f6b177","name":"every min","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"10","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1060,"y":680,"wires":[["df6bf17a.23313","5308ce6c.9cd"]]},{"id":"e57f31b9.ebb1e","type":"ui_button","z":"4465dcd8.ef29d4","name":"read status","group":"7b30ed62.ff6904","order":2,"width":"2","height":"2","passthru":false,"label":"Vorlesen","tooltip":"","color":"","bgcolor":"","icon":"fa-bullhorn","payload":"","payloadType":"str","topic":"read status","topicType":"str","x":1170,"y":700,"wires":[["64f109d4.b46ad8"]]},{"id":"64f109d4.b46ad8","type":"link out","z":"4465dcd8.ef29d4","name":"read status","links":["f4e21cd6.fd821"],"x":1295,"y":700,"wires":[]},{"id":"f4e21cd6.fd821","type":"link in","z":"19e5a93a.f6b177","name":"","links":["64f109d4.b46ad8"],"x":455,"y":820,"wires":[["803f563f.b61e28"]]},{"id":"184c7cde.e42e13","type":"function","z":"19e5a93a.f6b177","name":"optimal speech","func":"var status =  \"Das Zimmer befindet sich im gewünschten Zustand. \";\n\nvar temp = \"Die Zimmertemperatur beträgt: \" \n+ global.get(\"data.inside.temperature\") + \" Grad Celsius,\";\n\nvar hum = global.get(\"data.inside.humidity\")\n+ \"% relative Feuchtigkeit und \";\n\nvar co2 = \"die Luft hat ein CO2 Gehalt von \"\n+ global.get(\"data.inside.co2\") + \" ppm\";\n\nmsg.payload = status + temp + hum + co2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":840,"wires":[["39f61c61.e7ce64"]]},{"id":"c809cdbb.44455","type":"function","z":"19e5a93a.f6b177","name":"warning speech","func":"var status =  \"Warnung:\";\n\nvar temp = \"\";\nvar hum = \"\";\nvar air = \"\";\n\nif(global.get(\"alarm.temperature_I\")){\n    \n    if(global.get(\"data.inside.temperature\") \n    > global.get(\"settings.maxTemperature\")){\n        temp = \"Es ist zu heiß\";\n    }\n    else{\n        temp = \"Es ist zu kalt\";\n    }\n    \n    temp = \" die Zimmertemperatur beträgt: \" \n    + global.get(\"data.inside.temperature\") + \" Grad Celsius,\";\n}\n\nif(global.get(\"alarm.humidity_I\")){\n    \n    if(global.get(\"data.inside.humidity\") \n    > global.get(\"settings.maxHumidity\")){\n        hum = \"Es ist zu feucht\";\n    }\n    else{\n        hum = \"Es ist zu trocken\";\n    }\n    \n    hum = \" die relative Feuchtigkeit beträgt \"\n    + global.get(\"data.inside.humidity\") + \" %\";\n}\n\nif(global.get(\"alarm.air\")){\n    air = \"schlechte Luftqualität\";\n    \n    if(global.get(\"data.inside.co2\") \n    > global.get(\"settings.maxCO2\")){\n        air = air + \" zuviel CO2 \";\n    }\n    \n    if(global.get(\"data.inside.voc\") \n    > global.get(\"settings.maxVOC\")){\n        air = air + \" zuviele Flüchtige organische Verbindungen\";\n    }\n    \n    if(global.get(\"data.inside.formaldehyd\") \n    > global.get(\"settings.maxFormaldehyd\")){\n        air = air + \" zuviele reizende Gase\";\n    }\n}\n\nmsg.payload = status + temp + hum + air;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":720,"wires":[["39f61c61.e7ce64"]]},{"id":"df6bf17a.23313","type":"debug","z":"19e5a93a.f6b177","name":"TTS speech","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1290,"y":540,"wires":[]},{"id":"5308ce6c.9cd","type":"play audio","z":"19e5a93a.f6b177","name":"TTS speaker","voice":"3","x":1290,"y":600,"wires":[]},{"id":"6921b73c.22b068","type":"link out","z":"4465dcd8.ef29d4","name":"warnings","links":["c40750bb.1614f"],"x":535,"y":620,"wires":[]},{"id":"c40750bb.1614f","type":"link in","z":"19e5a93a.f6b177","name":"","links":["6921b73c.22b068"],"x":615,"y":680,"wires":[["6a171826.f0a968"]]},{"id":"6a171826.f0a968","type":"switch","z":"19e5a93a.f6b177","name":"if enabled","property":"settings.output","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":680,"wires":[["39f61c61.e7ce64"]]},{"id":"a12512a0.b1f8","type":"file","z":"479f4e7.777cbb","name":"write file","filename":"/home/.node_red-backup/APPsettings.json","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":720,"y":80,"wires":[["6efe351.25a38cc"]]},{"id":"35d0c11c.034c8e","type":"inject","z":"479f4e7.777cbb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[["1d8d0ee2.c5ad01"]]}]